[2018-11-03 23:31] geraldoramos opened #1 "useAuthState initialising not working"
Hi,

I've been trying the `useAuthState` hook and looks like the `initialising` variable is not working.

Here is the code:
[code]

The login/logout works fine, but I've confirmed that the `initialising` block is never reached.

Thanks in advance,

Geraldo

[2018-11-04 10:10] chrisbianca commented on #1
Thanks for flagging - this was an error on my part when refactoring to use the underlying `useReducer` hook rather than `useState`.

I've just published v0.3.2 which fixes the problem.

Please let me know how you get on in general and whether you have any feedback on how well they work, what's missing, that sort of thing...

[2018-11-04 10:10] #1 closed

[2018-11-07 06:05] geraldoramos commented on #1
Sorry for the delay. Thanks a lot, it's working great for me.

[2018-11-27 18:46] LiteSoul opened #2 "Add or update to firebase"
Unless I'm missing something, besides listening to the firebase DB, how can we send or update data to it with some custom hook?

[2018-11-28 08:40] chrisbianca commented on #2
You're correct, the hooks purely handle listening to the firebase DB.

You don't need hooks to be able to send or update data, you can simply use the standard Firebase APIs, e.g.

[code]

[2018-11-28 08:40] #2 closed

[2019-01-25 05:22] joserocha3 opened #4 "Optional parameter for useLayoutEffect passed into useAuthState"
Are there are any plans to provide an option to use [`useLayoutEffect`](https://reactjs.org/docs/hooks-reference.html#uselayouteffect) instead of `useLayout`?

If on application load `useAuthState` is leveraged to determine whether to render a sign in screen or user dashboard, then the sign in screen is painted before the component receives the updated state. That causes a quick flash of the sign

[2019-01-25 06:30] #4 closed, assigned to nobody

[2019-01-25 06:30] joserocha3 commented on #4
This seemed to stop happening...

[2019-01-25 07:00] joserocha3 commented on #4
I think it stopped because I combined a couple components. Before I had `Routes` and my `App` component separate, so there were multiple `useAuthState` calls.

[2019-02-09 14:58] tograd opened #5 "Q. Should hooks return an Object or an Array?"
makes sense: `snapshot.data(); snapshot.id`

doesn't: `value.data(); value.id`

Just food for though. I see you pushed 1.0 so I doubt you wanna make breaking changes. I can just wrap anyway

[2019-02-09 20:58] tograd opened #6 "Loading should be set to true on dispatched reset"
Otherwise you get weird logic when value is undefined but neither error nor loading is true

[2019-02-14 15:40] chrisbianca commented on #6
Thanks for flagging, I've just published v1.1.0 with a fix

[2019-02-14 15:40] #6 closed

[2019-02-14 15:48] chrisbianca commented on #5
@tograd I spent a long time debating how best to do this, and settled on `value` although I agree, it is not ideal in all situations.  I am open to changing if there is a feeling that it should be, but as you say it would need a major version given the breaking change.

The other approach I had considered was to use array destructuring for the return from each of the `useXXX` methods which is the

[2019-02-14 18:28] tograd commented on #5
You are right that arrays fits into the general hook "scheme" and typescript supports tuples well.

But on the other hand I don't like destructuring arrays, and we lose the dot access of properties and ability to "...rest" properties. I mean arrays destruct leans to clean syntax for renaming properties, but it also FORCES you destruct even when you perhaps don't want to. Plus, basically nothing ou

[2019-02-20 17:11] chrisbianca commented on #5
I'm still torn, so I'm going to leave this open for the time being.

I can understand your rationale, but equally, I wonder whether the "non standard" hook libs return objects because that's what users and developers are used to.  Array destructuring is a relatively new concept and certainly hooks are one of the first mainstream implementations that I've seen.  It could be that over time, it becom

[2019-02-27 11:25] royletron opened #7 "Always returns TypeError: Object(...) is not a function"
Using the example provided I can't seem to get anything out of the store:

[code]

I just get the error `Uncaught TypeError: Object(...) is not a function`

[2019-02-28 17:01] tograd opened #8 "useCollectionOnce, useDocumentOnce"
Could be useful I think?

[2019-03-06 17:44] chrisbianca commented on #8
This seems like a sensible suggestion, I'll try and take a look over the next couple of days, or happy to accept a PR if you're interested in taking a look yourself?

[2019-03-06 17:47] chrisbianca commented on #7
@royletron sorry for the delay in taking a look at this. Do you have a `hooks` collection in your Firestore instance?

It would be useful if you're able to identify which line is throwing that error.

[2019-03-27 09:58] chrisbianca commented on #7
Closing this due to inactivity.
Please let me know if this is still an issue and it can be reopened.

[2019-03-27 09:58] #7 closed

[2019-03-29 19:07] cmmartin opened #11 "TypeError: v1.isEqual is not a function"
I'm getting `TypeError: v1.isEqual is not a function` when I use the `useDocument` hook

[code]

[code]

Any ideas?

[2019-03-30 15:35] dizzyrobin commented on #11
I think it is a problem related to [react-native-firebase](https://github.com/invertase/react-native-firebase), because the `isEqual` function is not implemented in `DocumentReference` as you can see in the [docs](https://rnfirebase.io/docs/v5.x.x/firestore/reference/DocumentReference).

This is the [missing function](https://firebase.google.com/docs/reference/js/firebase.firestore.DocumentReferen

[2019-03-30 19:42] cdock1029 commented on #5
Could be personal preference but I've found it simplest to treat `undefined` as loading, which cuts down on extraneous variables, and allows for better composing of multiple snapshots (no need to have multiple `loadings`).

Think of something like:
[code]
each variable can encapsulate whether it is loading itself.

So for Documents, 3 states: `undefined`, `null`, or `"some value"`
For Collections,

[2019-04-01 22:40] nhagen opened #12 "Dependent hooks"
Seems like a common flow I see for defining admin users is to have an admin collection, and then you can check the authenticated user against that collection to make a determination.

Since hooks can't show conditionally, the syntax for doing this _seems_ to be along the lines of:
[code]

In this case, we begin by querying via `useDocument` for a document we know won't work (`admins/`), but it of

[2019-04-01 22:46] nhagen commented on #12
Actually looks like this PR addresses this.
https://github.com/CSFrequency/react-firebase-hooks/pull/10
Not sure if there more discussion to be had--that API seems fine.

[2019-04-01 22:46] #12 closed

[2019-04-03 03:01] iamthefox opened #13 "Pagination Example"
Question: is there any way to paginate through firebase list using this library?

[2019-04-03 07:48] chrisbianca commented on #13
At the moment there isn't, but this does seem like a very good use case.

Do you have any thoughts on what this might look like from an API point of view?

I will have a think, and put together a plan, but welcome your suggestions...

[2019-04-03 08:03] chrisbianca commented on #11
@dizzyrobin You're correct, `DocumentReference` in `react-native-firebase` doesn't implement the `isEqual` method, which is a bit unfortunate.

@cmmartin It might be worth raising an issue with them directly to see if they can add it either to v5 or their upcoming v6.

In the meantime, I'll have a think to see if this can be worked around in any way.

[2019-04-04 05:01] iamthefox commented on #13
I will look into it and attempt to come up with something.

Did a bit of a research and firebase queries are very limiting in what can be done.

https://github.com/deltaepsilon/firebase-paginator/blob/master/firebase-paginator.js

^ Above would probably be the most comprehensive library that somewhat solved this issue.

[2019-04-04 19:32] cmmartin commented on #11
Thanks @dizzyrobin and @chrisbianca for helping diagnose the problem. I opened an [issue](https://github.com/invertase/react-native-firebase/issues/2028) in react-native-firebase about this. I'll let you guys know if I find a suitable workaround in the meantime

[2019-04-09 01:46] cmmartin commented on #11
This was added to react-native-firebase in [v5.2.4 ](https://github.com/invertase/react-native-firebase/issues/2028)

[2019-04-09 01:46] #11 closed

[2019-04-09 07:34] chrisbianca commented on #11
That's great, thanks for the update!

[2019-04-14 03:46] nmaves opened #15 "Possible useCollectionData() and useDocumentData()"
I have found the collectionData() from rxfire to be super useful.

Currently, your hooks return a snapshot.  While I don't find that very useful others might.  So what if we added a new useCollectionData(query, idField='id') to the api.

Here is an example of how I wrap the useCollection from this library.
[code]

There are two things to notice.  The first is that I return a collection of document

[2019-04-17 07:05] chrisbianca commented on #15
@nmaves Thanks for the suggestion.  This makes a lot of sense, particularly given that we have something very similar already for the Realtime Database with `useObjectVal`, `useListKeys` and `useListVals`.

I've almost finished `useCollectionData` and `useDocumentData`, just need to do a bit of testing, but will update here when they're ready to release.

On the subject of the return of an array v

[2019-04-18 08:52] chrisbianca commented on #15
`useCollectionData` and `useDocumentData` have been added as part of the v1.2.0 release: https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v1.2.0

Discussions on the array return can continue on #5 .

[2019-04-18 08:52] #15 closed

[2019-04-18 08:52] chrisbianca commented on #8
`useCollectionOnce` and `useDocumentOnce` have been added as part of the v1.2.0 release: https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v1.2.0

Thanks for the suggestion!

[2019-04-18 08:52] #8 closed

[2019-04-20 02:46] nmaves commented on #15
Hey Chris,

Sorry I have not been around to give this a try.

One thing I would have changed was the order of these params.

[code]

I would have put the idField second as it is way more common to use with this function than the ListenOptions.

[2019-04-20 04:43] nmaves commented on #5
About time I weigh in and give some feedback on this.  I agree 💯 that we should return an array.

I have multiple components that use more than one collection and therefore use more than one useCollectionData() (thanks @chrisbianca for adding that function).

Given the two options below I choose arrays.  While the use of object destructing helps it is not all that readable.  We are talking about a

[2019-04-20 04:50] nmaves commented on #15
Also, I don't think it would be a bad thing to return an empty [] as the default state for useCollectionData.

[2019-04-20 17:39] cdock1029 commented on #5
Been messing with some ideas in my own hooks repo: https://github.com/cdock1029/fire-hooks

I like getting rid of the loading variables, seems cleaner.

[code]

and just have people be: `T[] | undefined` if it's undefined, it's still loading. If it has no data, it's an empty array.

For Document: `T | undefined | null`

Optional arguments all get put in an object, because optional positional argum

[2019-04-21 17:40] fastest963 opened #17 "loading: false, error: undefined, value: undefined when using useDocument"
Thanks to #10, we are now able to do:
[code]

The problem is that if the user exists then a document reference is sent but `useDocumentOnce` returns `{ loading: false, error: undefined, value: undefined }`. I was under the assumption that once loading is false, the value should be the DocumentSnapshot. It looks like this was caused by 01e8616628d4692177cca6775051ecd6a92ede0a because calling `setVa

[2019-04-22 04:20] nmaves commented on #5
I tend to lean towards a more verbose syntax.  I like reading code like `if (loading)` over `if (!people)`.  I take queues from frameworks like graphql where the loading state is explicit.  In the end, there are always 3 states (loading/empty/values) so I vote for a loading variable.

[2019-04-22 04:22] nmaves commented on #15
@chrisbianca the more I think about it and use the hooks I really think we should use a default value for the idField.  It is so common to need the document id I would just default it for everyone to use.  I do like the idea from the other issue to combine the options into one object.  Thoughts?

[2019-04-22 10:03] kriss1897 commented on #13
I used hooks to filter data from firestore, should I raise a PR for that?

[2019-04-22 19:35] tograd commented on #5
I reject my past qualms about arrays. They are indeed quite neat.

[2019-04-23 14:59] chrisbianca commented on #13
@kriss1897 Yes, please do - I'd be interested to see how you've approached it...

[2019-04-23 15:10] chrisbianca commented on #5
@cdock1029 Thanks for your suggestions.

I tend to agree with @nmaves on being explicit about the `loading` state.  Implying anything is always a risk, particularly given that `undefined` could then mean either: no query reference has been supplied, or the current query is being loaded.

I like what you've done with the dependencies array, but it does leave scope for the user forgetting to include

[2019-04-23 15:16] chrisbianca commented on #15
@nmaves Thanks for your comments.

As per my comments on #5, I do think combining both optional parameters into a single optional object is a cleaner approach that gets around this problem, and will get this changed in v2.

With regards to the default value for document ID - I'd like to follow what rxFire have done which is to leave it as an optional field with no default.  Using a default of say

[2019-04-23 15:30] chrisbianca commented on #17
@fastest963 I'm struggling to reproduce this.

`setValue(undefined)` will only ever be called when there is no document reference sent to `useDocumentOnce`.

When a document reference is specified then the state is reset and `loading` is set to `true` until a response is received from Firestore, at which point the `DocumentSnapshot` will be set as the value.

My test case for this is as follows, w

[2019-04-23 15:45] nmaves commented on #15
It is not a huge deal in my application as I have already wrapped these hooks with my own to always provide the array syntax (🎉 coming in V2).  So this is also where I provide the default fieldName value of `id`.

As for the `[]` being the default state for a `useCollectionData()` I prefer this to undefined as we no longer have access to the snapshot with these data methods.

Normally you would do

[2019-04-23 15:58] chrisbianca commented on #5
Is there any preference to ordering of the returned array?  My plan was to do the following:

`[value, loading, error]`

[2019-04-23 16:03] nmaves commented on #5
I can go with that.  Why would we not just throw the error? I think all of the errors that I have run into were not recoverable so I ended up just throwing it.

Here is my wrapper hook.

[code]

[2019-04-24 05:58] cmmartin commented on #5
+1 for returning an array so we can destructure with multiple hooks without doing this...

[code]

I also agree on the order `[value, loading, error]`

Not convinced we should throw the error though. You always have the option to throw in userland if we don't do it, but it's hard to avoid it if we do. AFAIK you can't call a hook inside a `try` block

[2019-04-24 06:02] kriss1897 commented on #13
@chrisbianca. Okay. Give me a few days.. I'll work on it this weekend.

[2019-04-25 21:34] fastest963 commented on #17
@chrisbianca interesting. I assume this is some sort of race condition then. If I add a breakpoint and am able to step through the stack, is there anything that would help you identify how it's happening?

[2019-05-07 15:16] chrisbianca commented on #17
So I've just been doing some digging, and it looks like there is an extra render cycle which is causing what you're seeing. In my example above, I've added some logging, which produces the following when switching from `null` to a proper doc reference:

[code]

As I understand it, the reason for this is that toggling the button calls `setState` which triggers a render. It is only on this render th

[2019-05-16 15:30] chrisbianca commented on #5
Good news, I've just published v2.0.0-rc.1 which updates React Firebase Hooks to use Arrays rather than Objects, as well as a few other things.

You can see everything that's changed here: https://github.com/CSFrequency/react-firebase-hooks/pull/20

Updated documentation is available here: https://github.com/CSFrequency/react-firebase-hooks/tree/v2.0.x

You can install the Release Candidate by run

[2019-05-17 04:27] nmaves commented on #5
I started trying this out tonight.  Everything is working great so far.  If we in the mood for breaking changes I think we should always return an array, even if it is an empty one, from our collection* functions.  It allows you to treat `data` as just that.  Not `undefined`.  You should not use the data prop in lieu of the loading state.

[2019-05-17 07:02] chrisbianca commented on #5
@nmaves Thanks for reporting back on your initial testing, I'm glad things are working so far!

I'm not convinced about returning an array for all collection* hooks because I think it would hide one of the possible states.  For reference, these are the possibilities:

1. Reference provided, loading
`error: undefined`, `loading: true`, `data: undefined`
2. Reference provided, data available:
`error

[2019-05-17 14:15] nmaves commented on #5
How is the fourth case not an error?

On Fri, May 17, 2019 at 1:02 AM Chris Bianca <notifications@github.com>
wrote:

[2019-05-17 14:19] chrisbianca commented on #5
This is a valid scenario if you want to combine hooks together, e.g.

[code]

For some history on this, take a look at https://github.com/CSFrequency/react-firebase-hooks/pull/10

[2019-05-18 20:27] nmaves commented on #5
Based on all of that I have to agree with you.

[2019-05-20 08:35] chrisbianca commented on #5
Great, I'm glad I convinced you :D

[2019-05-20 14:40] nmaves commented on #5
No worries, It appears to be a good way to approach conditional hook rendering when they are dependent on conditional data.

[2019-05-21 07:56] chrisbianca commented on #5
v2.0.0 has been published, thank you all for your feedback in helping to shape the release!

Release notes: https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v2.0.0

[2019-05-21 07:56] #5 closed

[2019-05-26 12:55] hlehmann opened #21 "loading is false when ref if changed."
Version: 2.0.0

After changing the ref in useDocumentData I first get loading: false, value: undefined.
It seems that the isEqualRef is called afterward.

When the ref change, loading should immediately set to true.

[2019-05-27 21:45] srobertson421 opened #22 "useDownloadURL not working with reference"
I'm trying to use the `useDownloadURL` method for a file reference in my firebase storage. Getting an array error:

![image](https://user-images.githubusercontent.com/2695134/58440300-f0310800-808d-11e9-9e2f-ac9b0a02ef3c.png)

Here is my code:

[code]

[2019-05-28 07:04] chrisbianca commented on #22
@srobertson421 Are you able to confirm which version of `react-firebase-hook` you're using?  This doesn't look like an error from within the library, so I'm wondering if you're using the new array returns with v1.x of the library which returns objects.

[2019-05-29 14:38] chrisbianca commented on #21
@hlehmann this looks like a duplicate of https://github.com/CSFrequency/react-firebase-hooks/issues/17 caused by the way that the hooks run in sequence.  I'm still looking into whether a workaround is possible or not, so please follow #17 for updates.

[2019-05-29 14:38] #21 closed

[2019-06-10 07:02] srobertson421 commented on #22
@chrisbianca Ah I was on v1.2.1, forced the update to 2 and it's working. Thanks!

[2019-06-10 07:02] #22 closed

[2019-06-11 14:21] chrisbianca commented on #22
No problem, glad it's all working!

[2019-06-11 23:44] sven09 opened #25 "How to handle Errors from Firestore"
Hi,
I'm using
[code]
 It works perfect.

But if i update my roles in firestore, i will get a exception
`
FirebaseError: Missing or insufficient permissions.
`

Getting this error is ok.
My expectation was, that this is also caught and add to error.
Unfortunately this is not the case and my side crashes.

Do you have any suggestions how to catch the firestore exception?

Many thanks!

[2019-06-12 10:47] hlehmann commented on #21
Could this
[code]
be
[code]

https://github.com/CSFrequency/react-firebase-hooks/blob/master/util/refHooks.ts#L14

[2019-06-17 07:09] davewasmer opened #26 "Use undefined instead of void"
It looks like the loading utility hook types the `value` property as `void`. This makes it difficult to work around potential edge cases in the code:

[code]

The problem here is that, because `user` is typed as possibly being `void` (which is different from `undefined`), I can't even do something like `user!.someProperty` to assure TS that the variable will have a value.

I think the fix here is

[2019-06-30 22:35] glenne opened #27 "Transition from non-authorized to authorized does not update collection content"
I have a collection that requires an authenticated login to access.  When I first view the collection in an un-authenticated state I of course do not get any content.  If I subsequently authenticate, I expect the collection to populate with contents so useCollection will 'refresh'.  However, this does not occur.

Is there a technique I can use to force useCollection to refresh content?

[2019-07-01 20:37] Industrial opened #28 "Typescript Errors"
Hi.

I'm getting these:

[code]

[2019-07-13 02:24] HausOfAlejandro opened #29 "initialising and error not working on Auth Hook"
Hello there! :-)

I'm using the same code provided as example and the **initialising** and **error** states are never reached... login and logout are working fine.

Just found a [related topic](https://github.com/CSFrequency/react-firebase-hooks/issues/1), but I installed the "react-firebase-hooks" packpage today so it shouldn't be happening.

[2019-07-18 13:36] kaw2k commented on #28
Same issue here

[2019-07-27 21:59] nhagen commented on #26
Outside of typescript this results in being unable to do basic default parameters like:

[code]

because company is `null` and default values are only set on undefined

[2019-08-02 07:09] chrisbianca commented on #26
Thanks for flagging this, and sorry that it's taken me so long to address.  I've just pushed up a commit: https://github.com/CSFrequency/react-firebase-hooks/commit/f2ebfc3efb062eeb3d427263f53efd342a8375a8

I'll get a release out later today which includes this.

[2019-08-02 07:11] chrisbianca commented on #28
When are you getting these errors?

I'll need some more details on your project setup to be able to debug the issue as this isn't affecting the majority of people.

[2019-08-02 07:12] chrisbianca commented on #29
@HausOfAlejandro can you check your `package-lock.json` or `yarn.lock` to see what version of `react-firebase-hooks` has been installed?

[2019-08-02 07:15] chrisbianca commented on #27
@glenne sorry for the slow response.  You're right and unfortunately this is the behaviour of the underlying SDK so there's not really anything that can be done in the library to resolve this automatically.

I'd suggest that you simply don't try and load the collection if the user is not authenticated.  You could achieve this by only mounting the component that calls `useCollection` when the user

[2019-08-02 07:15] #27 closed

[2019-08-02 07:49] chrisbianca commented on #25
@sven09 Sorry for the delayed response on this.  I'm struggling to reproduce this issue:

1) I've set my firestore rules to only allow reading data if the user is authenticated
2) I've logged the user out
3) I've attempted to read data from Firestore
4) The error is being correctly caught and comes through in the `error` property from `useCollectionDataOnce`

[code]

What version of `react-firebas

[2019-08-02 08:12] chrisbianca commented on #26
This is now published: https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v2.1.0

[2019-08-02 08:12] #26 closed

[2019-08-02 13:30] HausOfAlejandro commented on #29
Hi! is ^2.0.0

[2019-08-08 19:33] Spiralis opened #31 "useCollection return an array where the value is of type any"
In my component this code:
[code]
makes `value` an `any` type object.

As a workaround i have done this:
[code]

As you can see from the image, `v` is `any`.
![image](https://user-images.githubusercontent.com/64342/62731941-833dd500-ba23-11e9-9b38-34efd2af9c9b.png)

Why is this so? Is `any` the intended type for `value`, or is it a bug, or is there something I need to do?

Extract from `package.js

[2019-08-08 20:32] Spiralis commented on #31
For what it is worth, I just made my own "wrapper" hook as a workaround, which also passes in the collection as a string, making the firebase.firestore.colletion() call within my hook:

[code]

Usage:
[code]

[2019-08-22 12:39] hxhieu opened #32 "How to get the access token"
Hi,

Is there away to get the provider access token? Since we can only get it right after sign in and I cannot find any documentation on how to get it with our auth hooks.

Thanks,
H

[2019-08-24 19:58] afk-mario opened #33 "Auth with custom claims?"
Is there any way to wait until the custom claims are loaded using ?

`user.getIdTokenResult()`

[2019-09-01 18:22] thoughtassassin opened #35 "Can't perform a React state update on an unmounted component"
When I use useCollection and useDocumentOnce together in one function component I periodically get `index.js:1375 Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in a useEffect cleanup function.` warnings.

Here is one of the components that throw that

[2019-09-05 04:50] kdawgwilk opened #36 "Support for mutating data with hooks"
I would like to see some mutation support for making changes in firebase not just reading data.  I would look to apollo mutation hooks for inspiration.  Ideas that I have in mind are along these lines:

[code]

[2019-09-06 03:40] asibilia opened #37 "Utils not bundled with react-firebase-hooks/firestore"
`import { useCollection } from 'react-firebase-hooks/firestore';`

Results in this error:  `cannot find module ../util`

Called by `.../node_modules/react-firebase-hooks/firestore/dist/firestore/useCollection.d.ts`

[2019-09-06 20:42] iagobontempo opened #38 "orderBy"
How can I use orderBy? I'm trying to to use after .where with useCollection and does not work.

`const [list, loading, error] = useCollection(
        firebase.db.collection('songs').where('placeId', '==', props.match.params.place).orderBy('createdAt'),
        {
            snapshotListenOptions: { includeMetadataChanges: true },
        }
    );`

[2019-09-10 18:55] #38 closed

[2019-09-12 10:16] Lucas-Geitner opened #40 "Duplicate from reactfire"
Hello everyone,

just wondering if this repo is not just a duplicate (with few functions more) of https://github.com/FirebaseExtended/reactfire which also include hook

Thanks you very much

[2019-09-14 11:22] chrisbianca commented on #40
@Lucas-Geitner this library was created before work on ReactFire was restarted. It looks like the new version of ReactFire is still in alpha, but definitely worth keeping an eye on.

[2019-09-14 11:22] #40 closed

[2019-09-14 11:23] chrisbianca commented on #37
@asibilia this is a duplicate of #28 . Would you be able to add some more information about your project setup to #28 to help us debug?

[2019-09-14 11:23] #37 closed

[2019-09-14 11:25] chrisbianca commented on #36
@kdawgwilk this is an interesting idea, although I'm not sure what the real benefit is over just calling `update` on the underlying `DocumentReference` directly?

[2019-09-14 11:29] chrisbianca commented on #35
`useDocumentOnce` is already set up with a cleanup method that will be called on `unmount`, however there is a small window where this could result in the above warning.

Ultimately, there's not much that can be done to prevent the warning and as it implies, this won't affect your application adversely.

[2019-09-14 11:29] #35 closed

[2019-09-14 11:33] chrisbianca commented on #32
@hxhieu unfortunately Firebase does not provide any way to get the access token from the User object, you'll need to intercept this after sign in.

[2019-09-14 11:33] #32 closed

[2019-09-17 21:38] stevecastaneda commented on #13
Anyone ever get a pagination example working?

@kriss1897

[2019-09-18 13:47] thib92 commented on #36
I could see the use case here because the hook handles loading and error state for you, which is much harder to handle by hand!

Though the loading state is a bit tricky because I believe Firebase uses optimistic logic to fake an "instantaneous" mutation, doesn’t it?

[2019-09-19 14:37] bgarrett-rt opened #42 "Feature request for useCollection and useDocument - latest result timestamp"
I really appreciate the work on this library.

I have one feature request. Is it reasonable to add a timestamp field to the return array?
So for example [value, loading, error, timestamp] = useCollection(...)

My use case is that I often use the last modified timestamp on a document to trip React caching in useEffect, useMemo, etc. However, this requires logic to look at the docs to see if any of

[2019-09-26 22:14] jacksteamdev opened #43 "Uncaught auth error"
When I use `useAuthState` with `signInWithPopup` and close the popup without authenticating, the error state is not reached.

After a second these two errors appear in the console:

I was expecting this error to cause useAuthState to reach the error state. Is this behavior expected?

The following code dropped into the CreateReactApp boilerplate will reproduce this error. In fact, all errors seem

[2019-10-06 11:18] andipaetzold commented on #28
I have the same issue.
You can reproduce it by creating a new package and installing the library:
* `npm init`
* `npm i react-firebase-hooks`

As you can see in the directory tree, the utils are not bundled.
[code]

[2019-10-20 18:41] dannytatom opened #44 "How to use multiple hooks that depend on each other?"
Example:

[code]

I can't put `useDocument` in a `if (authUser)` because React breaks with: `Rendered more hooks than during the previous render.`

[2019-10-21 01:31] renzhentaxi commented on #44
All hooks needs to be top level (this comes from react itself).

What you can do is something like this:
`useDocument( () => if (authUser) firebase.firestore().....)`

[2019-10-21 01:42] dannytatom commented on #44
@renzhentaxi `useDocument` only accepts a DocumentReference, though, so I can't do that. Also can't, like, store `authUser` in state with `useState` then use that because infinite loop.

[2019-10-21 19:28] dannytatom commented on #44
I saw that, but I guess I'm kind of confused. What I have now is similar to that, I think? But I get: `Warning: Cannot update during an existing state transition (such as within `render`). Render methods should be a pure function of props and state.`

[code]

[2019-10-22 12:41] mr-bjerre commented on #2
I can't use `const { loading, value } = useObjectVal(ref);`

`Argument of type 'DocumentReference' is not assignable to parameter of type 'Query'.`

[2019-10-22 19:50] mr-bjerre commented on #43
I am having a similar issue using `signInWithEmailAndPassword`.

    auth.esm.js:873
    Uncaught M {code: "auth/user-not-found", message: "There is no user record corresponding to this identifier. The user may have been deleted."}

[2019-10-22 20:35] mr-bjerre commented on #43
Just tried the example you provided

[code]

Same result. Uncaught error. Using `v2.1.0`

[2019-10-23 13:33] callumlocke opened #45 "Readme example: Can login and logout functions be moved outside?"
In the main example in the readme, `CurrentUser` creates new `login` and `logout` functions on every render. Is this necessary somehow, due to the way React hooks work, or can these functions be safely moved outside?

[2019-10-23 15:52] rahsheen commented on #45
Looks like they don't depend on the component at all so could be moved out.

[2019-10-29 16:34] eeeeeeeeeee555 opened #46 "initialising and error not working on Auth Hook"
Just tried the example you provided

[code]

Same result. Uncaught error. Using v2.1.0

[2019-10-29 16:49] Morriz opened #47 "sendPasswordResetEmail not implemented"
Any chance it might get implemented? I don't understand it is not in here yet. Am I the first to ask?

[2019-11-04 16:49] brianr482 commented on #43
Same result. Uncaught error. Using v2.1.0

[2019-11-06 09:21] ebemunk commented on #44
this is the pattern i use a lot, in a hook called `useUser` so I don't duplicate it as much, basically looks like this
[code]
i dont think `useDocumentData(auth && firebase.firestore()...)` usage is correct

[2019-11-07 16:46] #44 closed

[2019-11-11 09:08] chrisbianca commented on #28
This has been fixed as part of v2.1.1.
Thanks to @miyucy for their PR to address this problem.

[2019-11-11 09:08] #28 closed

[2019-11-14 08:21] MincePie opened #49 "How do you get the data from the database"
I'm trying to figure out how to use this.

My best attempt is copied below, although it generates an error that says:

[code]

Before hooks, I was able to use componentDidMount like so:

[code]
I'm looking to figure out how to use this tool to extract data from the database and then use it to populate a select menu, like so:

[code]

[2019-11-14 21:40] cdoe opened #50 "[Firestore] Include typescript intersection type for idField option on all use...Data hooks"
For Firestore collections and docs, it would be nice if each of the `...Data` hooks would automatically add the `idField` (if provided) as a key/value to the `<T>` generic.

For example, the `useDocumentData` hook would return something like `T & { idField: string }` instead of just `T`. In this case, `idField` should be represented by the actual string value entered into `options.idField`.

Does

[2019-11-15 13:49] deebov commented on #46
i am having the same issue. the `initialising` and `error` variables does not re-render the component when they are changed

[2019-11-16 05:26] ckeeney commented on #5
This should perhaps be a new issue, but since this is the discussion thread I thought I would mention it here.

I recently came across the following pattern that would make the return value behave both like an ordered array and an object, depending on how it is destructured.

https://github.com/i18next/react-i18next/blob/0c589dd03bf57c2bb126a9cb7a959d1dde7422b2/src/useTranslation.js#L81-L87

[2019-11-19 20:27] MincePie commented on #49
Here are more attempts at trying to figure out how to get data from the database. I would love to figure out how to do this! https://stackoverflow.com/questions/58813897/react-firestore-hooks-to-fetch-database-records-from-cloud-firestore

[2019-11-22 14:50] d33pn opened #51 "Get data from firestore fields"
hi I am new to react and firebase. just started using react-firebase-hooks
using react-firebase-hooks i successfully got all the data in the document.
i am wondering if i could get data individually.
(i.e) <div>{profile.email}</div>
thanks in advance

[code]

[2019-11-23 11:50] #51 closed

[2019-12-06 11:42] maxtotheguenther commented on #50
Totally agree with @cdoe .
Currently im solving this issue with:

[code]

[2019-12-16 20:08] nmaves commented on #49
First, you should try and narrow down your example code. There is bit in there that does not apply to your issue.

You have a few issues.  It looks like you are going after a collection but using the hook for a document.

You need to read up on https://github.com/CSFrequency/react-firebase-hooks/tree/master/firestore#usecollectiondataonce.

But here is the code that you are after.

[code]

[2019-12-19 04:15] imjared opened #52 "Proposal: apply transformations to returned object(s)"
Still fleshing the idea out but wanted to note in case there was interest. It'd be handy for our use case to be able to apply transformations to returned object(s). Often times the data we have stored is not necessarily the data we want to display so we often wind up running the same transformations after fetch.

### A few examples:

- Our users always have a `first_name` and a `last_name`. Someti

[2019-12-19 09:24] deiucanta opened #53 "Refresh data for useDocumentDataOnce"
I couldn't find anything about refreshing data for a document that is loaded using `useDocumentDataOnce`. My app will have a refresh button or a pull-to-refresh gesture.

I tried using a dummy local state to force the re-render but it doesn't work since the document refs are the same across renders.

[code]

Is this possible to implement this behaviour?

[2019-12-23 12:20] Nickman87 commented on #17
@chrisbianca I might have found a solution for this issue

https://github.com/CSFrequency/react-firebase-hooks/pull/55

I don't think it is correct to call setValue in the hooks when no value is present, a reset sounds more logical and solves the loading state switching to loaded.

[2019-12-27 22:58] thelazydogsback commented on #36
Thanks for taking the time to write these hooks!
I was just going to open an issue for this... I've never just partied on the actual doc that gets returned -- that's pretty strong coupling the the DB component, and even ignoring hygiene, the UI usually needs a model that's a bit different than the doc. Being able to go from doc-to-model on the way out and model-to-doc on the way in would be cool -

[2020-01-02 06:56] nmaves commented on #53
Don't use Once.  Just use useDocumentData().  It will refresh it for you when the data in the Firestore Database changes.

[2020-01-02 07:12] nmaves commented on #33
Here is how I am pulling custom claims.

[code]

[2020-01-05 16:32] HynekS commented on #46
Same issue here. Using the hook in a gatsby.js app. `User `works as expected. Version 2.1.1.

[2020-01-07 16:07] alancinacio opened #56 "Hydrate `Reference` type from Firestore"
What is the currently recommended way to fetch references from within a loaded document snapshot?
Could we add an option to automatically hydrate child references into a snapshot or data object?

[2020-01-10 08:48] ebemunk commented on #13
i wrote a custom hook to do "Load More" type of pagination. i'm sure it can use some tweaking from more clever folks here, but it works fine for my purposes for now.

[code]

you would use it like this:

[code]

i hope this is useful to someone.

now for Previous/Next pagination i've run into some roadblocks:
- i tried tracking `first` and `last` snapshot, hoping to use `query.startAfter(last)` fo

[2020-01-10 18:37] pikilon opened #57 "Auth user email Verification changes doesn't triggers re-render"
Thanks for this library I guess this issue is related with `Firebase/auth` itself and not the hook but this is the journey:

### Steps to reproduce
1. Not register user go to a registration form in Tab1
2. the Registration form shows a `user.emailVerified: false` on the top
3. The user register using the form
4. A verification email is sent to the user
5. The form now shows a message pending verif

[2020-01-16 21:31] mchong-teal opened #58 "Querying nested data"
Hi, I have some data structured something like the following:

- Root doc
    - Middle collection of node docs (only 1 layer deep for now)
        - Collection of leaf docs

Normally, I might break this up into separate components that each have their own hook, but I am using a library that accepts the data in hierarchical form.  Is there a way I can query the whole structure at once?  Alternative

[2020-01-16 22:09] mchong-teal commented on #58
I think this might be more of a firestore question, but I think my solution is to have a root level collection of middle nodes and leaves, and each node as an array of references to their children (a list of ids, probably not reference types..)

[2020-01-23 06:59] awoodall commented on #57
Was testing this out as well and it looks like `auth().onAuthStateChanged()`doesn't detect an update when `emailVerified` is changed.

One potential solution would be to call on [auth().currentUser.reload()](https://firebase.google.com/docs/reference/js/firebase.User.html#reload) on a set interval until `emailVerified` is true.

Another solution would be to track the verified status under a firest

[2020-01-27 13:57] pgonzalez-santiago commented on #46
Same here. What is happening?

[2020-01-28 16:37] RobertSasak commented on #13
Another attempt https://github.com/bmcmahen/firestore-pagination-hook

[2020-02-28 13:06] akoenig commented on #32
@hxhieu You can access the token by evaluating the result after signing in:

[code]

[2020-03-24 09:47] benjamin-sommer opened #59 "useCollection - chain requests by using previous data in refs"
In the following code, you can see that the second `useCollection` requires data from the first, the organisation id. How can I chain these requests together so that the second request does not give an error, but instead waits for the first request to complete and then continue with the seconds request?

Thanks

[code]

[2020-03-24 10:28] baebb opened #60 "Getting delayed/no response on mobile"
Hi!

Use this lib for a project with mainly mobile users. In development on simulated iOS and android updates to the document I'm watching are seen immediately but on real devices there is a significant lag, but is solved by a refresh of the page.

Any ideas what I can do to solve?

[2020-03-24 13:17] nmaves commented on #59
This is a standard react hooks issue.  You need to conditional send the second firebase reference.

[code]

[2020-03-24 13:21] benjamin-sommer commented on #59
Thanks, that worked!

[2020-03-24 13:24] nmaves commented on #59
You're welcome.

[2020-03-25 15:17] Rob5Underscores opened #61 "Query using date comparator causes constant component reload"
When using a query containing the 'where date' clause as below, the data loads correctly but the component and its children are constantly reloaded. Removing the `.where('date', '>', Firebase.firestore.Timestamp.now())` stops this happening. I migrated to this project from another and this logic worked correctly there.

Is there anything I'm doing wrong?

Thanks

`
    const withEvents = Component

[2020-03-25 18:37] benjamin-sommer opened #62 "Firestore hooks - run function on data update"
Is there a simple way to run a function every time a new snapshot is loaded by the client? I need to run a simple function that makes some changes to the data gotten from firestore, and then sets a `useState` value. Currently, you can only use the variable provided when you initialise a `useCollection` hook, meaning it is hard to format the data first before using the variable in JSX.

[2020-03-26 17:04] Rob5Underscores commented on #62
You may want to consider moving the firestore hook into its own component and using React's hooks (useEffect/useCallback) to achieve this - https://reactjs.org/docs/hooks-reference.html

You could then create your own hook extending the firebase  hook that runs your desired function if you wish to have this repeated throughout your application (https://reactjs.org/docs/hooks-custom.html).

Hope th

[2020-03-26 17:06] benjamin-sommer commented on #62
Thanks! I will take a look at this.

[2020-03-26 17:08] benjamin-sommer commented on #62
I really needed to run the function to update the temporary state while it is being written to firestore. Can you check out my [SO post](https://stackoverflow.com/questions/60839429/firebase-hold-temporary-data-while-being-sent-to-cloud-firestore/60851200#60851200)? Thanks

[2020-03-26 17:30] Rob5Underscores commented on #62
The answer given already seems correct to me.

You need to use state to keep the 'local' changes as they are being updated to firestore. The hook will update and your component will re-render with the new data which will be up to date with any changes other users have also made to the database.

[2020-03-26 17:32] benjamin-sommer commented on #62
But how do I store the temporary data? I cannot edit the `projects` variable directly, can I?

[2020-03-26 17:33] benjamin-sommer commented on #62
I would have to keep the temporary data in a separate variable, but I need to update the temporary data, that's what I can't figure out how to do.

[2020-03-26 17:37] Rob5Underscores commented on #62
I assume `projects` is your retrieved firestore value?

As outlined in the SO answer, the useEffect callback can be used to set the component's state to the data retrieved from Firestore. So your `projects` data is stored in the state and you can mutate it as desired. When the hook updates with new data, useEffect will update the state again.

[2020-03-26 17:41] benjamin-sommer commented on #62
Yes, `projects` is my retrieved firestore value.

Am I right in saying that, using the solution in the SO answer, if the database is updated by another user, the calendar would show outdated data?

This is important because multiple users will be adjusting the calendar simultaneously.

[2020-03-26 17:45] Rob5Underscores commented on #62
No, useEffect is called to process all 'side-effects'.

If the hook value updates, useEffect will keep the state up to date

[2020-03-26 17:50] benjamin-sommer commented on #62
In the SO answer, when he says

I presumed that meant only the writes were sent, not that the reads came back.

[2020-03-26 17:52] Rob5Underscores commented on #62
Yeah the state will be separated so you may mutate it as needed while your data is being updated to firestore but useEffect will keep it up to date if firestore changes.

[2020-03-26 17:53] benjamin-sommer commented on #62
Ok, thanks. I will try and implement this.

[2020-04-02 23:24] Wgil opened #63 "Request: useCollectionGroup and useCollectionGroupData"
Hey!

Great lib! Wondering if it would be useful to add `useCollectionGroup` and `useCollectionGroupData`.

Use case: querying a single document using a `collectionGroup` query.
Example:

[code]

Proposed implementation:
[code]

Lemme know if I can work on this!
Cheers

[2020-04-18 19:53] ROODAY commented on #61
+1 I get the same issue with `const [deals, loading, error] = useCollectionData(firebase.firestore().collection('deals').where("expires", "<=", now));`

[2020-04-18 20:30] nmaves commented on #61
This one seems pretty obvious.  Your `now` is changing on every re-render of your component.  Post your entire component so we can help more.  I would think something like the following might work better.

[code]

You can find the docs for that [here](https://reactjs.org/docs/hooks-reference.html#lazy-initial-state)

[2020-04-18 20:50] ROODAY commented on #61
Oof, I believe that was the error for me! I ended up not using this library as I needed to convert my component into a class anyways, but now my `now = new Date()` is in componentDidMount which is probably why I'm not getting endless re-renders. Thanks!

[2020-04-22 09:06] Rob5Underscores commented on #61
I also ended up not using this library so can't confirm whether or not this was the problem.

Thanks for your help.

[2020-04-22 09:06] #61 closed

[2020-04-24 05:08] luchux commented on #58
@mchong-teal This does not seems to be an issue.  Please refer the documentation as mentioned here. And if you can close this issue, will be fantastic for the maintenance of the project.

You can do that in firebase with relationships, and query in a proper way. Please check https://firebase.google.com/docs/firestore/manage-data/structure-data  and the relevant querying methods (but you can do fir

[2020-04-24 05:23] luchux commented on #58
@mchong-teal  now you can query subcollections with group collections queries. There is not a hook from what I guess, but it doesn´t matter becuase you can write your query like this an passit to a hook like useCollectionDataOnce, etc.
https://firebase.google.com/docs/firestore/query-data/queries#collection-group-query

[2020-04-24 16:09] luchux commented on #63
Just for reference:
https://firebase.googleblog.com/2019/06/understanding-collection-group-queries.html

[2020-04-24 16:13] luchux commented on #52
@imjared you can write your own hook for that functionality and keep it out of this library.
I think it separate more the responsibilities since firebase does not provide those transformations and this lib seems very 1-1 to firebase.

[2020-04-24 16:16] imjared commented on #52
point taken, luciano. since requesting this feature i've found that firestore provides [DataConverters](https://firebase.google.com/docs/reference/js/firebase.firestore.FirestoreDataConverter) which probably meet my need

[2020-04-24 16:16] #52 closed

[2020-04-24 19:43] brettinternet commented on #2
Here's something that uses a variation of the pattern presented in this library. See `useAsync` at the bottom.

[code]

[2020-04-26 21:58] petrkrejcik opened #66 "useCollectionData always returns new values in array"
`useCollectionData` returns new items in the array every time when a hook is called. This makes it impossible to perform an equality comparison on the values in the array because the values are always newly created.

**Example:**
[code]

**Workaround:**
I've made a custom hook which stores *data* to a local state.

[code]

Is it possible to change implementation of `useCollectionData` to return al

[2020-05-04 22:37] ehahn9 opened #67 "Request: add generics to mirror firestore and improve type safety"
react-firebase-hooks rocks, btw -- thanks!

slight (trivial) suggestion:

[code]

this would also apply to `useCollection`, etc.

This would be helpful because firestore does indeed preserve the type all the way to the subsequent snapshot `data()` value.

As a side-benefit,  a typed `ref` would improve the `useDocumentData` API allowing you to deduce the returned data type without the explicit gen

[2020-05-08 01:08] joshuamckenty commented on #63
I would second this - definitely need collectionGroup support. Thanks!

[2020-05-15 19:50] optilude commented on #13
Can confirm that @RobertSasak's package works well. Thanks!

[2020-05-16 18:15] drtapha commented on #60
i have same problem with firebase.auth().signInWithEmailAndPassword

[2020-05-22 14:08] MartinSeeler commented on #53
Maybe it would be possible by passing a `fetch` method down by `useDocumentDataOnce `? It could be called internally on create but let the use re-run the fetch when it's needed?

[2020-05-24 00:35] afk-mario commented on #33
Not 100% sure it works for everyone but this is my current hook

[code]

[2020-05-25 06:56] #17 closed

[2020-05-25 07:18] chrisbianca commented on #25
Closing due to lack of follow up

[2020-05-25 07:18] #25 closed

[2020-05-25 07:19] chrisbianca commented on #29
Closing as I cannot reproduce

[2020-05-25 07:19] #29 closed

[2020-05-25 07:23] chrisbianca commented on #45
I've updated the documentation, thanks for flagging

[2020-05-25 07:23] #45 closed

[2020-05-25 07:25] chrisbianca commented on #47
@Morriz these hooks are all about reading data. Updating and performing actions should use the Firebase SDK directly.

[2020-05-25 07:25] #47 closed

[2020-05-25 10:55] chrisbianca commented on #49
Closing as this has been answered

[2020-05-25 10:55] #49 closed

[2020-05-25 10:57] chrisbianca commented on #53
As per the answers already, if you need to refresh the data, use the `useDocumentData()` hook

[2020-05-25 10:57] #53 closed

[2020-05-25 10:58] chrisbianca commented on #57
Yes, unfortunately this is a known issue with the underlying Firebase library, so there's not much we can do to address it within this library.

The solutions suggested by @awoodall would work nicely.

[2020-05-25 10:58] #57 closed

[2020-05-25 10:59] chrisbianca commented on #58
Closing as this is a data structure / usage question rather than an issue with the library.

[2020-05-25 10:59] #58 closed

[2020-05-25 11:00] chrisbianca commented on #59
Closing as this has been answered

[2020-05-25 11:00] #59 closed

[2020-05-25 11:18] chrisbianca commented on #66
This has been fixed by https://github.com/CSFrequency/react-firebase-hooks/pull/41 and is part of version 2.2.0

[2020-05-25 11:18] #66 closed

[2020-05-26 15:58] cdedreuille opened #69 "Waiting for the result to get a second hook"
I was wondering if there was a way to use this library to do async requests in multiple hooks. In my use case, I'm calling a document that has the id for another document and I need this id to get the other document.

[code]

Before I was using a custom hook with an async function but I was wondering there was a way to do it with your library.

To give a bit of context on what I'm trying to achiev

[2020-05-28 12:39] ynotu opened #70 "Firestore: How to fetch data to init state?"
Consider this example:
Categories are stored in firestore. I need to display checkboxes to select these categories, so I need to store the checked state. My approach results in an infinite loop:
Inside my component function:

[code]

Seems to be a common use case, namely to enhance a value fetched from firestore. How to solve this issue?

[2020-06-10 23:38] danaugrs commented on #69
Hey, see https://github.com/CSFrequency/react-firebase-hooks/issues/59#issuecomment-603232646. So basically:
[code]

[2020-06-14 08:59] ynnoj commented on #29
@chrisbianca This is a widely reported issue facing multiple users (#43, #46).

Using the example in the `useAuthState` README is a clear reproduction. Please can you investigate this further.

[2020-06-25 03:38] mfanselmo opened #72 "[Firerstore] useCollection - useCollectionOnce timestamp filter"
When using useCollection with a query that uses a timestamp, react goes into a recursive state.

[code]
The hook is not in a useEffect or anything like that.
This happens
![image](https://user-images.githubusercontent.com/26393563/85650437-8f4e7780-b673-11ea-86c6-ed0cef3c824c.png)

For context, this works with no problems
[code]

[2020-07-14 04:59] achuinard opened #74 "useList hooks throw away value of once"
My component with a useList hook renders once for every child in a list. If I subscribe on a screen with 2,000 items this is very inefficient - my component re-renders 2,000 times. I think the hook should set the value of the data based on the once('value') and then be smart about handling childAdded. Does this make sense? Or am I doing something else wrong if my component is re-rendering once for

[2020-07-18 18:04] appsy2020 opened #76 "'value.set is not a function' when using useDocument"
when using:

`const [value, loading, error] = useDocument(
        firebase.firestore().doc(docPath)
);`

`value.data()`
works properly and receives data.

but trying to do:
`value.set({a: 1})`
fails with 'value.set is not a function'

[2020-07-18 18:09] appsy2020 commented on #76
should have used set on doc itself

[2020-07-18 18:09] #76 closed

[2020-07-23 14:10] shamoons opened #77 "Initial useCollectionDataOnce returns empty"
I have:
[code]

This looks like:
[code]

So it looks like it's loading twice?

[2020-07-24 02:33] robsonkades commented on #13
I created an example of hook with react.js for pagination
https://gist.github.com/robsonkades/0f256ab05944699b831031c7e6a8aa84

[2020-07-29 07:42] jerrybuks commented on #63
can i go ahead, and implement these hooks (useCollectionGroupData and useCollectionGroup)?

[2020-08-02 20:23] cdedreuille commented on #69
Thanks a lot @danaugrs. It would be great to add this to the doc. I can imagine I'm not the only one thinking about it.

[2020-08-02 20:23] #69 closed

[2020-08-16 22:22] ahoward2 opened #78 "Feature request for SnapshotOptions"
Great library.

There is currently snapshotListenOptions, and it would be super nice to include [snapshotOptions](https://firebase.google.com/docs/reference/js/firebase.firestore.SnapshotOptions) to control the return value for server timestamps that haven't yet been set to their final value.

Seems like this would be incredibly easy to implement. Let me know what you think!

[2020-08-28 03:54] renbesson opened #81 "No Firebase App '[DEFAULT]' has been created When Using Next.js with firebase"
Hi, All!

I'm getting the error above when using the useCollection hook, even though firebase is being loaded correctly by a js file that loads before the useCollection import.

I think my question is: How do I make sure firebase is being correctly importing before everything?

Follow bellow the test file:

[code]

Also the firebase initialize file:

[code]

Thanks!

[2020-08-31 04:15] afreeland commented on #72
Was there any updates on what causes this behavior...or is it an incorrect way to call the hook. Seen this issue and was curious if there was any solution/alternative?

[2020-08-31 14:39] nmaves commented on #72
This is not the correct way to use this or any hook.  The issue is that `now` will have a new value on every render.  Wrap that in a useMemo.

[code]

[2020-09-05 07:51] dreamerchandra opened #82 "If the component rerenders using same query does an API call to firestore occur?"
[code]
If the above snippet is used in a component whenever it gets rerendered I could see a new API hit being made...
Are there any ways to stop or memorize the result of if the query is the same? I couldn't find any ways in documentation also I tried using debounce and no effect found

[2020-09-11 15:49] kira13zyh opened #83 "Upgrading Firebase Anonymous User does not trigger UseAuthState Hook?"
My application involves upgrading an anonymous user to a regular user in Firebase. The upgrade preserves the uid of the Firebase user but updates fields such as email and isAnonymous, and because the upgrade does not change the uid and technically the user has been "signed in" all along, the UseAuthState hook is not triggered.
Does anyone know a way to work around this so the user can be updated o

[2020-09-17 03:18] kira13zyh commented on #83
In my case I worked around it by temporarily have the user sign out before signing back in as an upgraded user. A bit janky but it worked for me.

[2020-09-17 03:18] #83 closed

[2020-09-24 01:21] slk333 commented on #46
same issue

[2020-09-26 00:40] slk333 opened #85 "loading and error not working on Auth Hook"
"react-firebase-hooks": "^2.2.0",

You provided a sample code that I used as a component. Here's the component:
[code]

I get the following error
`
Uncaught Error: The error you provided does not contain a stack trace.
    at S (index.js:1)
    at V (index.js:1)
    at index.js:1
    at index.js:1
    at u (index.js:1)
`

the UI is supposed to display the error, as a `<p>Error: {error}</p>`, but t

[2020-09-26 01:03] slk333 commented on #29
@ynnoj did you find a solution?
Ran into the exact same issue.
Can't believe fireship.io actually recommended this package

[2020-09-26 11:43] ynnoj commented on #29
Nope. Just using the Firebase SDK directly.

[2020-10-07 03:39] dangtien97 commented on #81
Place firebase's initialization into _app.js (or _app.tsx) and everything will be okay

[2020-10-15 13:04] dsvgit commented on #13
I found this one https://github.com/kodai3/react-firebase-pagination-hooks

[2020-10-21 05:34] pvhieuit commented on #29
Same issue

[2020-10-27 08:06] laurensnl commented on #50
+1  This should definitely be in there. Does anyone have any idea how to achieve this?

[2020-11-04 15:00] cdedreuille opened #87 "Hooks doesn't show missing indexes errors"
Here is an example I'm using:
[code]
If I do `console.log(messages)` I will receive `undefined` even after loading. The problem is that it's requiring a custom index in Firebase. Usually firebase gives you a nice error with a link to create this index but with the hook I don't see those errors making it really hard to debug.

[2020-11-07 13:16] vecdoor opened #88 "UseCollectionData always returns undefined/empty array"
Hello, what i have done:

[code]

what is the problem?

[2020-11-07 13:18] vecdoor commented on #88
![Uploading Bildschirmfoto 2020-11-07 um 14.18.01.png…]()

[2020-11-07 13:20] vecdoor commented on #88
HAHAHA found the problem:

it is important to not have any spaces in there
const [collection] = useCollectionData<Response>(db.collection(**'orders'**));

[2020-11-07 13:21] #88 closed

[2020-11-09 18:16] r-bt opened #89 "useLoadingValue error is typed Error not FirebaseError"
Firstly, thanks for the great library :) I'm trying to use it with typescript but the return type from all the firebase hooks are returning errors typed as `Error` rather than `FirestoreError`. For example

[code]

The error objects themselves though are Firebase Errors (as they have the `code` attribute).

This seems to have had been fixed in v1 with #18 but are now back to `Error` type in V2. No

[2020-11-10 14:42] royletron commented on #17
Hey all. I'd like to reopen this issue as it is still causing some grief for me. The basic flow is:

[code]

Assuming the `userId` starts off as `undefined` as it is loaded in context, you get the following `console.log`:

[code]

The problem is number 3. causes issues downstream, because I might want to take a case where the `profile` hasn't yet been setup by the user, but it's impossible to chec

[2020-11-11 18:27] dbanisimov commented on #87
@cdedreuille the third value in the returned tuple is the error:
[code]

[2020-11-13 07:38] caleb-harrelson commented on #74
The hook stores each child as an individual `DataSnapshot`, which is why it couldn't use the `once('value')` result (since only the root is a `DataSnapshot` and the children are the raw values). And even if it did use the value from `once`, `child_added` is still called once for every child which would cause re-renders.

I've addressed it by capturing the number of children from the `once` call, t

[2020-11-15 04:08] Satyam opened #91 "Add a `transform` option to `useListVals` and `useObjectVal` in realtime database"
Sorry, I meant to provide a pull request but, though I did fork the repository and cloned it to my machine, doing an `npm i` produced errors which I was unable to fix.  Since the change is short, I hope it is acceptable for me to send it this way.

Realtime database cannot handle anything that JSON cannot, dates being a case in point.

In order to simplify the use of such variables, I suggest addi

[2020-11-15 09:59] rolznz commented on #82
Any update on this? going to a different page in the app but having to wait for the exact same data to load is a poor user experience.

[2020-11-16 08:01] cdedreuille commented on #87
Ah! thanks a lot. I don't know how I could have missed that. It would be great it if it can show the errors automatically as many times I end ended up missing those.

[2020-11-16 08:01] #87 closed

[2020-11-16 17:14] Ponjimon opened #92 "Types in useAuthState are any"
![image](https://user-images.githubusercontent.com/770632/99285200-88e5b580-2837-11eb-8b8d-3fd24c68cb14.png)
It seems that intellisense can't pick up the right types that are defined in the type definition of `useAuthState` resulting in the image above.

Am I doing something wrong here or is this some bug?

[2020-11-16 17:21] Ponjimon commented on #92
Okay, it seems it's because `firebase` doesn't export a named export `User`.

So instead of `User` in the type definition, it should be `firebase.User`

[2020-11-17 21:11] caleb-harrelson commented on #82
Firestore supports [offline persistence](https://firebase.google.com/docs/firestore/manage-data/enable-offline), which would cause the second query to be loaded from the offline cache. It would still query the remote API on the second load to see if the data is stale, but would only update stale data; you'd have the non-stale data before the API request resolves.

If you are not using offline pers

[2020-11-18 04:02] tsbajwa commented on #17
I also seem to be getting the same issue described by @royletron

 uid is initially undefined, and a value is then loaded/set via context

` const data = (uid: string) => {
  const [value, loading, error] = useDocumentData(
   uid ? db().collection(uid).doc("doc") : null
  );`

My current solution is the following
` const data = (uid: string) => {
  const [value, loading, error] = useDocumentData(

[2020-11-19 07:33] dreamerchandra commented on #82
@caleb-harrelson
## Reg Store manager:
It isn't going to change anything as `useCollectionDataOnce` would make a query and since it's a hook I can't conditionally call based upon store value

## Reg useMemo:
From docs
[code]
useMemo is bound to lose memorized value based on LRU

## Reg offline persistence
Yes it works but the problem is `input` is supposed to change based on user input

[2020-11-19 08:00] caleb-harrelson commented on #82
Using a local store of some kind would prevent the delay in having the data, but not the API call itself.

Using `useMemo` works the vast majority of the time. "Write your code so that it still works without useMemo — and then add it to optimize performance." <-- that's exactly what you'd be doing here. If `useMemo` drops the cache it would do another query to fetch it, but if it has the cache you

[2020-11-19 08:30] dreamerchandra commented on #82
Imaging a component with 2 states where one rep userInput (typical input tag) and another rep some other state some drop-down for instance.. Ideally, you want to suggest based on user input.. since drop-down is tied to the same component you would end up querying whenever drop-down state changes too which is exactly what happened in my case

[2020-11-19 17:11] caleb-harrelson commented on #82
PR #79 does implement memoization like that.

[2020-11-23 14:43] mdirolf commented on #92
I think this is fixed here: https://github.com/CSFrequency/react-firebase-hooks/pull/86

[2020-11-27 10:22] dahmc opened #93 "Is this still actively maintained?"
No activity for half a year, and given that the PR for firebase 8 isn't even touched makes this project not usable for the current iteration.

Are the maintainers still here?

[2020-11-30 15:55] paour commented on #91
I was about to suggest the same thing. I use Firestore, but it's the same.

There are a few other PRs that change how the RTDB/Firestore work, it would be nice to merge these changes, and if required fork the library, since it doesn't seem to be actively maintained anymore.

[2020-11-30 16:59] Satyam commented on #93
The original author is obviously falling behind his GitHub notifications, and hasn't made any commit to any of his projects for a while.  He lists several accounts: https://twitter.com/chrisjbianca and https://www.linkedin.com/in/chrisbianca on his page: https://csfrequency.com/about-us/.  I don't have accounts on any of these services, could someone ping him and let us know?

If he is busy at the

[2020-11-30 17:11] Satyam commented on #91
@paour Indeed, the maintenance of the library is becoming an issue, see: https://github.com/CSFrequency/react-firebase-hooks/issues/93

[2020-11-30 17:50] dahmc commented on #93
I agree.

As I see it, there's https://github.com/FirebaseExtended/reactfire which states in the status:

`
This repository is maintained by Googlers but is not a supported Firebase product. Issues here are answered by maintainers and other community members on GitHub on a best-effort basis.`

[2020-11-30 20:00] caleb-harrelson commented on #91
@Satyam, the transform prop is required in your `snapshotToData` example. It should be optional and conditionally called.

[2020-11-30 20:17] Satyam commented on #91
@caleb-harrelson In my example I set the `transform` parameter to default to a noop transform that does nothing, but yours is also valid.  I don't know which option would be more efficient.

[2020-12-01 11:02] Satyam commented on #93
@dahmc As I found out, Google lists a lot of Open Source projects related to Firebase, including this very same one:  https://firebaseopensource.com/projects/csfrequency/react-firebase-hooks/
So, my suggestion about them taking it over was pointless, as there are projects for Angular, Vue and what not so, why would they bother about this one.  So forget about my last suggestion.

Reactfire looks a

[2020-12-01 11:31] dahmc commented on #93
Yes, I agree completely, this whole RXJS/RXFire dependency seems very overengineered. You can tell it's coming from AngularFire which depends heavily on RXJS anyway.

The simplicity of this package is definitely what attracts me more as well. It's a more react style of doing things.

If there's no sign of life in the near future, we could just agree on a fork and go from there.

[2020-12-10 11:17] runehoejlund commented on #13
I created a very simple hook for using simple "load more" paginated collection data. It's not true pagination in the sense that the number of reads increases everytime you call loadMore (but so does some of the other solutions posted here as far as I can see - if you wish to avoid that, I guess you have to provide the `StartAfter` to the query). Mabye it's helpfull for some (it's in typescript):
[

[2020-12-10 20:54] #56 closed

[2020-12-16 05:22] dahmc commented on #93
Looks like @chrisbianca is back and has been busy merging lots of PRs, which is great news. Thanks for taking care of that, Chris.

We should see a new release soon then, I hope.
So I am happy to close this one.

[2020-12-16 05:22] #93 closed

[2020-12-16 07:22] #74 closed

[2020-12-21 16:55] chrisbianca commented on #31
I'm closing this as the latest version of the library will address this issue

[2020-12-21 16:55] #31 closed

[2020-12-22 07:39] #50 closed

[2020-12-22 07:41] chrisbianca commented on #50
I've just been having a play around with this and have got something working which will be part of the upcoming v3 of the library. I'm aiming to have this released in the next week or 2.

For reference, the syntax is:

[code]

[2020-12-30 07:17] #67 closed

[2020-12-30 07:18] chrisbianca commented on #67
@ehahn9 thanks for the suggestion and apologies it's taken so long to incorporate. This will be part of the upcoming v3 release in the next week or so.

[2020-12-30 07:20] chrisbianca commented on #72
Closing this as it's not an issue with the library

[2020-12-30 07:20] #72 closed

[2020-12-30 07:23] chrisbianca commented on #81
Closing as @dangtien97's answer should give the correct outcome

[2020-12-30 07:23] #81 closed

[2020-12-30 07:24] chrisbianca commented on #82
Closing as this as the memoization changes from #79 will fix any unnecessary re-renders as part of v3

[2020-12-30 07:24] #82 closed

[2020-12-30 07:30] #89 closed

[2020-12-30 07:30] chrisbianca commented on #89
@r-bt Good spot. This looks like it was lost in some refactoring that was done. It will be included in the upcoming v3 release

[2020-12-30 07:33] chrisbianca commented on #92
As spotted by @mdirolf, this is fixed by #86 and will be included in the upcoming v3 release

[2020-12-30 07:33] #92 closed

[2020-12-30 08:40] joelmccauley opened #97 "useCollectionData query combination of where and orderBy do not work"
query = messagesRef
      .where("users", "==", "1")
      .orderBy("createdAt");
  }
  const [messages] = useCollectionData(query, { idField: "id" });

  undefined

  :(

[2020-12-30 09:31] joelmccauley commented on #97
Nevermind. Figured out it was indexing, but there was definitely no error reporting for it. Would be nice for the next guy I'm sure! Thanks!

[2021-01-02 07:47] chrisbianca commented on #97
@joelmccauley Unfortunately Firebase doesn't expose this sort of error through the API which means there's no way of bringing it through the hooks library. Typically it will log a warning to the console if there is an indexing error.

[2021-01-02 07:47] #97 closed

[2021-01-02 08:03] #78 closed

[2021-01-02 08:03] chrisbianca commented on #78
@ahoward2 good suggestion, and something I'd missed being introduced to Firestore. Apologies for the delay in resolving, but this will be included in the upcoming v3 release.

[2021-01-02 08:12] chrisbianca commented on #63
Sorry for the delayed response on this. I've just taken a look and it appears that collection groups are already supported by the `useCollection` and `useCollectionData` hooks already:

[code]

If you feel this isn't the case, please feel free to re-open with further information.

[2021-01-02 08:12] #63 closed

[2021-01-04 16:44] lorstenoplo commented on #85
You can solve the problem by using `catch()` in your `signInWithEmailAndPassword` method, plus the error which the hook provides is just when your project is deleted or if google is not able authenticate requests using your API key.

[2021-01-05 04:47] lorstenoplo commented on #43
No guys, you can use the hook and its loading param after the user signs in, you are not using the hook to sign in the users right. You are using the firebase sdk so, you will have to handle auth errors during login and sign up yourself

[2021-01-05 08:04] lorstenoplo commented on #46
Check this solution: https://github.com/CSFrequency/react-firebase-hooks/issues/85#issuecomment-754084044

[2021-01-05 15:28] lorstenoplo commented on #29
@chrisbianca I have fixed this issue in PR : #98 , please check if it can be merged

[2021-01-14 06:24] dahmc opened #99 "What about tests?"
I just wanted to have a look at how the tests are done to get some insights for my own hooks, and I couldn't find any.

There's also no test action in the scripts.

Is that on purpose? Please don't take it as a 'wtf there are no tests', just genuinely curious. :)

[2021-01-22 17:47] m4cbeth opened #100 "refField option not working as expected for useDocumentData"
Hello there, love these hooks and thank you so much for them!

But I'm trying to use useDocumentData(query, {refField: "whatever"}) as my understanding is that this would add a property of "whatever" with a ref to the document I'm getting data from. However it's not currently doing so!

[2021-01-22 18:35] m4cbeth commented on #100
![image](https://user-images.githubusercontent.com/56993541/105531034-f41f8e00-5ca5-11eb-86cf-16efce9c0dac.png)

I thought I'd add this if it might be helpful!

[2021-01-26 16:50] it-one-mm opened #101 "Wrong Typing in v2.2.0 and Correct in master branch in typescript"
The wrong firebase version in v2.2.0 and correct firebase version in master branch.

[2021-01-30 19:49] oof2win2 opened #102 "Bug(?): Unable to install firebase hooks"
While installing with the command `npm install --save react-firebase-hooks`, I got the following error. I used `npm create-react-app <appName>` to create an app beforehand, but I wasn't able install react firebase hooks after that. I believe that this is a bug, however I am not entirely sure.
[code]
[2021-01-30T19_46_11_639Z-debug.log](https://github.com/CSFrequency/react-firebase-hooks/files/5898

[2021-01-31 01:24] lorstenoplo commented on #102
All these dependency issues are common while using npm
If you don't mind can try creating and installing all the packages with yarn once

[2021-01-31 10:27] oof2win2 commented on #102
Yup, yarn made it work. It only threw this warning, which can be ignored i guess
`warning " > react-firebase-hooks@2.2.0" has incorrect peer dependency "react@^16.8.0"`

[2021-01-31 14:14] lorstenoplo commented on #102
Close this issue as it is solved

[2021-01-31 14:15] #102 closed

[2021-02-01 17:14] pdme opened #103 "Performance: Every hook creates its own listener?"
I'm wondering if every time I use a firebase hook, say `useAuth`, it creates a separate internal state and a separate listener.

I'm guessing it is? And if so, does that not raise performance issues since both hooks will separately talk to the firebase API?

Also, as a result, the two hook instances at some point for a short time might have differing states, which may cause stability issues?

[2021-02-02 11:32] brerdem commented on #81
hi!, Got a quick question about that. How to export firebase instance then when we put in _app.js?

[2021-02-04 11:21] Banb4n commented on #70
Hi @ynotu, i hope you've already solve your problem, but this will maybe help you:

[code]

[2021-02-06 17:01] sg1705 opened #104 "Cannot install because of dependency error on React 17.0.1"
I am trying to install react-firehose-hooks but I keep getting a dependency error. Here's the error message.

I suspect that the dependency hasn't been updated to the latest version of React.

[code]

[2021-02-07 03:41] lorstenoplo commented on #104
All these dependency issues are common while using npm
If you don't mind can try creating and installing all the packages with yarn once

[2021-02-09 15:53] FezVrasta opened #105 "Support for firebase@ext?"
Hi, is there any plan to add support to firebase@ext and its new API?

Thanks!

[2021-02-11 13:28] kqito opened #106 "Incorrect for the type of the first value in array that is return value of the `useAuthState` hooks?"
I have a question about the type of the first value in array that is return value of the `useAuthState` hooks.

the its type is `User | undefined`, but the type of return value of  `firebase.auth()` is `firebase.User | null`, so I think it should be `firebase.User | undefined | null`.

If this is a bug I will fix the following as a PR

- Fix generic type of [useLoadingValue](https://github.com/CSF

[2021-02-13 05:21] rohan-deshpande opened #108 "useAuthState inconsistent persistence"
I'm not too sure what is going on but I have two components in my app that use the `useAuthState` hook.

[code]

and

[code]

Now, here is the weird thing, when I use `useAuthState` in `WelcomeOrCallout`, even after signing out, `Links` returns a user from the hook while `WelcomeOrCallout` does not.

If I do NOT use `useAuthState` in `WelcomeOrCallout`, `Links` works as expected, not rendering the

[2021-02-13 05:43] rohan-deshpande commented on #108
Okay so, seems like the issue was caused by having a dedicated `logout` page and performing the sign out there. I've changed my code to simply do this when a user clicks the Logout button

[code]

And everything is working. I'll leave this open as I feel the above issue is still kind of interesting and I'd like to know why it's not working as expected.

[2021-02-13 08:38] #91 closed

[2021-02-13 08:56] #62 closed

[2021-02-13 08:57] chrisbianca commented on #104
This has been resolved in the latest version on master which will be released soon

[2021-02-13 08:57] #104 closed

[2021-02-13 08:58] chrisbianca commented on #106
This has now been fixed as #107

[2021-02-13 08:58] #106 closed

[2021-02-13 08:58] chrisbianca commented on #101
The master branch will be released soon

[2021-02-13 08:58] #101 closed

[2021-02-13 08:59] chrisbianca commented on #100
This is due to the documentation being displayed on GitHub referencing the master branch where this functionality exists. A new version of the library which includes this functionality will be released soon.

[2021-02-13 08:59] #100 closed

[2021-02-13 09:01] chrisbianca commented on #70
Closing as @Banb4n has answered the question with one approach. There is also a new `transform` option for Firestore hooks which will be part of the next release that would allow this to be done as part of the initial hook data load. See: https://github.com/CSFrequency/react-firebase-hooks/tree/master/firestore#transforming-data

[2021-02-13 09:01] #70 closed

[2021-02-13 09:04] chrisbianca commented on #99
@dahmc This mostly comes down to "lack of time" to be able to introduce a proper test suite. I have some manual tests that I run over each change which whilst not particularly efficient, gives some confidence in the release.

I would be more than happy to receive contributions towards tests :)

[2021-02-13 09:04] #99 closed

[2021-02-13 09:06] chrisbianca commented on #105
@FezVrasta assuming that you mean Firebase Extensions, then unless I'm missing anything, this is server side functionality so wouldn't be appropriate for this library?

[2021-02-13 12:02] FezVrasta commented on #105
No I'm referring to this:

https://modularfirebase.web.app/

[2021-02-14 12:11] Banb4n commented on #70
The `transform` option seems to be a really useful feature, thanks @chrisbianca

[2021-02-14 19:17] matamatanot commented on #103
Some performance issues have been resolved by #79.

[2021-02-16 16:09] Godefroy opened #109 "Publish new version on NPM"
Hi,

The current version on NPM doesn't seem up to date and I have errors while building my webapp with Typescript:

![image](https://user-images.githubusercontent.com/148421/108089249-ae25d200-7079-11eb-9f0e-d6a0a5a21112.png)

![image](https://user-images.githubusercontent.com/148421/108088996-64d58280-7079-11eb-8912-4d2c5cbd570f.png)

Could you please publish a new version on NPM?

PS: Thanks a

[2021-02-19 22:33] tnoetzel commented on #70
@Banb4n @chrisbianca - Doesn't that approach violate the [exhaustive dependencies requirement](https://reactjs.org/docs/hooks-faq.html#is-it-safe-to-omit-functions-from-the-list-of-dependencies)?

[2021-02-20 20:41] jayp0521 commented on #109
+1, I would appreciate an update as well

[2021-02-21 02:16] m4cbeth commented on #100
Thank you very much for the clarification Chris! I very much appreciate you taking the time to give some guidance to a lost little noob haha. Thanks again Chris.

[2021-02-21 10:01] chrisbianca commented on #105
Ah, I'd missed this @FezVrasta.

We can definitely add this support in the future, but it may be worth waiting until the API stabilises further. However, I am more than happy if anybody wishes to contribute a PR to add experimental support in the meantime?

[2021-02-22 12:04] klutchdev commented on #109
+2!

[code]

[code]

[2021-02-22 15:49] lorstenoplo commented on #109
Try with yarn, but yeah it's a problem I agree

[2021-02-22 15:54] jayp0521 commented on #109
I did `npm i --force` and it seems to work fine

[2021-02-22 15:59] jayp0521 commented on #109
If the peer dependency is updated to react: ">= 16 || ^17" everything should work fine

[2021-02-22 20:32] saillcemail opened #110 "How do you reading user document when logged in and skip if not"
Hi guys,
This might be a simple on and I am not professional in ReactJS.
Q: In my home page I am reading, the user document for the logged in user. If the user is logged in I will display some information from it. If not, that section is hidden.
`const [user, loading, error] = useAuthState(auth);
  const [value, docLoading, docError] = useDocumentOnce(firestore.doc('/users/' + user.uid), {
		snaps

[2021-02-23 16:00] mauriceackel commented on #110
Hi, I think you can make use of the fact that you can pass a null value as document reference here. You might want to try the following:

[code]

Perhaps it would also work with:
[code]

[2021-02-24 13:21] sauntimo opened #111 "Unsubscribe problem - hitting firebase quota limits"
Hello,

We're making use of this library quite a lot in our code, so first of all, thank you for all the work you've put in to it!

We seem to be having an issue with unsubscribing from collections. On our dashboard page in particular, which has a few hooks to fetch data for a few different components, requests to firebase seem to increase exponentially and if left open for a while, the tab will m

[2021-02-24 14:45] saillcemail commented on #110
Thank you, @mauriceackel. That worked.

[2021-02-24 14:45] #110 closed

[2021-02-24 14:57] mauriceackel commented on #111
Perhaps one thing you could try with your old configuration is to monitor the network usage in the browser's dev tools. I once had an issue where some broken logic for building a document reference lead to a constant recreation of the firestore document ref in each render. I think this happened as I dynamically created the document ref.

So you might wan't to check your code for instances where yo

[2021-02-24 15:01] mauriceackel commented on #109
@jayp0521 Your issue comes from the fact that you are using the next major version of react (i.e. 17.X) and this library is not released for this version yet. There might be breaking changes in vision 17 that impact the functionality of this lib or it might be completely fine. In any case. You might want to open a new issue to request support for react 17 and perhaps someone can look into the chan

[2021-02-24 15:04] jayp0521 commented on #109
Yes, I was going to create a PR and test probably this weekend. I was only suggesting a temporary workaround that worked for me if people wanted to be on React 17.

[2021-02-26 07:03] andrewtsun25 opened #112 "[Firestore] useCollectionDataOnce returns different types depending on number of items returned"
When using `useCollectionDataOnce` the following behavior occurs when returning an array of references:
- 1 item: Return type is `firebase.firestore.DocumentReference`
- multiple items: Return type is `firebase.firestore.DocumentReference[]`

While this might be desirable for some, it is particularly undesirable to have multiple return types within a typed system like TypeScript, especially when i

[2021-02-26 07:44] andrewtsun25 commented on #112
sorry, turned out my data set was formatted wrong. please disregard.

[2021-02-26 07:44] #112 closed

[2021-02-26 09:54] olivertuck opened #113 "Transform method doesn't exist on useCollectionData on latest"
On the documentation it says in the options param for useCollectionData I should be able to provide a transform function. But on the latest version 2.2, TypeScript warns me that it doesn't exist and it doesn't do anything.

Has this definitely been added properly? I really need to use this.

Thanks

[2021-02-27 08:19] #43 closed

[2021-02-27 08:19] #46 closed

[2021-02-27 08:19] #85 closed

[2021-02-28 16:08] matamatanot commented on #109
https://www.npmjs.com/package/react-firebase-hooks/v/3.0.0-alpha.3

[2021-03-01 10:28] sauntimo commented on #111
@mauriceackel I just wanted to say thank you for your comment - it seems you're right; after we switched to useOnce, the problem hadn't abated as you suggested might happen. I checked the network tab and there were many more requests than there should be, so it looks like our deps are changing when we're not expecting them too and our hooks are firing far more often than they should. I'm going to

[2021-03-01 10:28] #111 closed

[2021-03-02 08:32] chrisbianca commented on #113
@olivertuck this has been as part of https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v3.0.1 which has now been released to NPM

[2021-03-02 08:32] #113 closed

[2021-03-02 08:33] chrisbianca commented on #109
The full release has now been published: https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v3.0.1

[2021-03-02 08:33] #109 closed

[2021-03-02 08:39] chrisbianca commented on #103
@pdme You are correct that each hook manages its own internal state, however, there are already optimisations built into the Firebase client library to ensure that unnecessary network requests aren't made for information that is already known to the client.

Auth is slightly different and there may be some benefit to adopting a context provider approach, but as yet it's not caused anybody any issu

[2021-03-02 08:39] #103 closed

[2021-03-02 08:42] chrisbianca commented on #78
This has now been released in https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v3.0.1

[2021-03-02 08:43] chrisbianca commented on #50
This has now been released in https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v3.0.1

[2021-03-02 08:43] chrisbianca commented on #67
This has now been released in https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v3.0.1

[2021-03-02 16:14] Godefroy commented on #109
Great, thanks 🙏

[2021-03-03 13:58] piousdeer opened #116 "Cannot find module 'react-firebase-hooks' or its corresponding type declarations"
I can't import the module neither in a CRA app nor in an empty TypeScript project. Steps to reproduce:
[code]

[2021-03-05 02:57] victorawogbemi opened #117 "invalid hook error for useAuthState"
I get invalid hook error when trying to use useAuthState

[2021-03-07 03:50] dohomi opened #118 "Firebase Auth sms MFA example"
Hello

I'd like to know if its possible to use Firebase-Auth SMS verification with this hook? Would be interested how an example would look like.
THanks!

[2021-03-07 03:51] lorstenoplo commented on #118
Not yet though, you can only use email-password auth

[2021-03-07 03:52] dohomi commented on #118
Ok thanks for the info.

[2021-03-08 20:36] app-akrobaten opened #120 "UseCollectionData wrong type (TS2345)"
Hello, now with the new version i get the following error - in V2.2.0 it works:

TS2345: Argument of type 'DocumentReference<DocumentData>' is not assignable to parameter of type 'Query<FirebaseCourse>'.   Type 'DocumentReference<DocumentData>' is missing the following properties from type 'Query<FirebaseCourse>': where, orderBy, limit, limitToLast, and 4 more.

code:
[code]

FirebaseCourseWithUid

[2021-03-09 07:07] exKAZUu opened #121 "firebase library is wrongly bundled in react-firebase-hooks/auth"
The transpiled `react-firebase-hooks/auth` code includes firebase library code, but I believe it should be omitted.

Note the sizes of the following files are grater than 200KB, but the sizes of the others (e.g. `react-firebase-hooks-firestore.js`) are less than 5KB.
- `react-firebase-hooks/dist/react-firebase-hooks-auth.js`
- `react-firebase-hooks/auth/dist/index.cjs.js`
- `react-firebase-hooks/a

[2021-03-09 07:10] dangreaves commented on #120
I'm having the same issue since upgrading to v3. Here's a simple example.

[code]

This throws the following type error.

[code]

It seems that removing the generic from `firebase.firestore.Query` does the trick, but I'm not sure what type features this then loses. I'm guessing that generic perhaps adds types into the `where()` method, but unsure.

https://github.com/CSFrequency/react-firebase-hoo

[2021-03-09 07:24] #121 closed

[2021-03-09 07:28] chrisbianca commented on #117
@victorawogbemi without some code demonstrating how you're using the hook, it's going to be impossible to debug this issue. Please feel free to re-open this issue with an example.

[2021-03-09 07:28] #117 closed

[2021-03-09 08:21] #120 closed

[2021-03-09 08:23] chrisbianca commented on #120
I've just been having a play with this and there's definitely some underlying issues with how the typings were previously assigned. I've cleaned this up as per @dangreaves suggestion which seems to have resolved the issue. I'll get this released as a bug fix now.

[2021-03-09 16:00] samrit opened #123 "Feature request. Add hook for calling firebase cloud functions"
Apologies if this is something already implemented and I missed it. I looked but could not find hooks for cloud functions in firebase.

[2021-03-09 21:40] samrit commented on #123
Hey! Thanks for the response. So here is an example, I have collections and documents, but I write a function to validate some custom business logic and return some value and expose that as a callable https function.  I can now call this function using the firebase SDK.  It would be useful to have hooks to be able to call these functions. Something like,

[code]

And then the UI could react to wha

[2021-03-09 21:40] samrit commented on #123
Feel free to close if you feel this is outside the scope. Thanks for considering.

[2021-03-10 01:26] lorstenoplo commented on #123
No nothing like that, I just couldn't think of a use case.
I have not worked with cloud functions ( just wanted to inform )

[2021-03-10 01:35] dangreaves commented on #120
Thanks for addressing that so quickly @chrisbianca, fingers crossed that cracks it. Confirming your question re. `firebase` version, I'm on `firebase@8.2.9`.

[2021-03-10 07:52] app-akrobaten commented on #120
Hey. Thank you for your quick reply. Im also on `firebase@8.2.9 `

[2021-03-11 10:00] otusweb opened #124 "useDocumentData returns null, false, null if document does not exists"
I'm new to using this library so feel free to point me in the right direction if I missed anything obvious.

When using the following code with userToDisplayUID which does indeed have a document in the database everything works as expected. The problem is that if there is no document with this ID, I simply end up with userToDisplay = null, userToDisplayLoading = false, userToDisplayError = null
[c

[2021-03-11 13:16] osilviotti commented on #116
You shouldn't be importing from the root, it should be one of either `react-firebase-hooks/auth`, `react-firebase-hooks/firestore`, `react-firebase-hooks/storage`, or `react-firebase-hooks/database`.

[2021-03-13 06:41] chrisbianca commented on #116
@osilviotti is correct, in order to minimise application bundle size, you should import from the packages that you're interested in using.

[2021-03-13 06:41] #116 closed

[2021-03-15 09:58] diginikkari commented on #123
I would also like to see support for firebase function calls. There are callable functions, which are very nice to use with firebase ([documentation](https://firebase.google.com/docs/functions/callable#web)). Callable functions integrate nicely with firebase authentication and are IMO easy to use.

[2021-03-16 05:45] graytonio opened #127 "Cannot Build Project With Vite"
I am trying to build my project with vite after developing it and it is throwing the following error.

[code]

The library was working in development mode but failed to build properly.

[2021-03-16 08:02] chrisbianca commented on #123
@samrit thanks for the suggestion, this would be a great addition to the library. I will try and take a look at this over the next few weeks, but obviously welcome any PRs in the meantime

[2021-03-16 09:01] chrisbianca commented on #124
@otusweb that's correct. Firestore does not return any form of error to indicate that the document doesn't exist. There is a `.exists` field on the underlying document snapshot, but as you're using the `Data` method, then we simply map this to a null response. If you think this should behave differently, then I'm very open to suggestions to consider.

In the meantime, I'm going to close this as it

[2021-03-16 09:01] #124 closed

[2021-03-16 11:19] berdyshev opened #128 "Support withConverter"
Firestore supports converting data to an instance of any type using FirestoreDataConverter. So doc here https://firebase.google.com/docs/reference/js/firebase.firestore.FirestoreDataConverter

But as I can see now [`snapshotToData`](https://github.com/CSFrequency/react-firebase-hooks/blob/16d1f2edb7b276d1ff565ec5c6ac324d1e602324/firestore/helpers/index.ts#L14-20) spreads the data into an object an

[2021-03-16 17:44] #128 closed

[2021-03-18 14:19] berdyshev commented on #128
@chrisbianca sorry, is it possible to release this fix, because this is required for our project?

[2021-03-19 08:41] chrisbianca commented on #128
@berdyshev this has now been released as part of https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v3.0.3, sorry for the delay

[2021-03-19 14:22] minhchienwikipedia commented on #13
any update from `react-hooks` contribute?

[2021-03-20 02:40] LeulAria opened #132 "how can i achieve getting subcollections from document"
https://dev.to/rossanodan/how-to-fetch-subcollections-from-cloud-firestore-with-react-3n93

[2021-03-20 14:46] chrisbianca commented on #132
I'm going to close this as it's not an issue. Questions of this nature are best asked on Stack Overflow.

You should however be able to make use of the `useCollection` as you would normally.

[2021-03-20 14:46] #132 closed

[2021-03-20 14:54] chrisbianca commented on #127
This seems like it's going to be an issue with Vite rather than with the library given that there haven't been any other reports of issues with the new releases.

Vite is not something that I am familiar with so I don't think I'll be able to help you get to the bottom of this one.

[2021-03-22 03:38] dohomi opened #133 "New hook for file upload into storage"
Hi
as I use some parts of this hook I missed a file upload hook. Here is my version of it - if this is useful I am happy to do a PR or just grab the code and adjust it.
[code]

[2021-03-22 10:58] Snailed opened #134 "`IDOptions` is not included in exported types"
When I try to use the firestore hooks, `tsc` will throw the following error:
[code]

This makes my CI/CD workflow fail.
To fix it, the `IDOptions` type should be exported.

[2021-03-23 14:16] otusweb opened #136 "best way to log errors in a centralised way"
I'm using this library to interface with Firestore and it is great.
The one thing I have not figured out (and that might be a feature request) is to be able to log errors to a service like sentry.io in a centralized way.

Right now, I end up adding this all over the place:
[code]

I wonder if there is a centralized place where I could pass my log error method to have the firestore errors logged di

[2021-03-23 14:38] danoszz commented on #81
@brerdem below your Firebase initialization you can `export { firebaseClient };` and from another file you can import it through `import { firebaseClient } from "./pages/_app";`

[2021-03-24 04:49] dohomi commented on #108
@rohan-deshpande your logout page code does not seem right to begin with. You should keep the signOut inside of useEffect:
[code]

[2021-03-24 08:10] dohomi commented on #133
I came up with a slightly optimized version: https://gist.github.com/dohomi/78d240028a3450c5477e91e6004288ab

[2021-03-25 23:16] FrenchMajesty opened #137 "`refField` should be array to provide multiple references key"
Hello,

I have been using this library and find it very useful. However, I've noticed a weakness in the way `refField` works in that it only takes a string and tries to supplement only one reference.

I think it would be beneficial if you could give it an array and it would supplement the references for all those keys. I tried to do something like:
[code]

But it did not produce the expected resul

[2021-03-26 05:16] FrenchMajesty opened #138 "`options` not working as expected"
Hello,

I am having issues getting the library to put up on the `options` when I supply them. Here's a snippet of my code:

[code]

When I `console.log` the data, it comes out without the `uid` key that has the ID

EDIT:

After removing `transform` I found that the `uid` is present. It seems like the logic is to append `uid` AFTER the `transform` happens. That is totally fine. However, this is pro

[2021-03-26 05:29] #137 closed

[2021-03-26 05:30] #138 closed

[2021-03-27 00:35] warent commented on #108
I'm having this same problem with `useSignInWithEmailAndPassword`

My usecase is for the root App to use that hook to verify auth. If the user is authenticated, the App component returns the router with all the routes and pages. If they're not authenticated, it just returns an Auth component.

The Auth component uses useSignInWithEmailAndPassword therein. When `signInWithEmailAndPassword` is fired

[2021-03-27 01:39] dohomi commented on #108
@warent I think its quite a legit use case to use a provider on top of your app tree with `useAuthState` and pass the user object down the page tree as a context.

[2021-03-27 01:41] warent commented on #108
Sure, it is a legitimate pattern. That still does not address that multiple hooks is breaking. My goal here is to report a bug + add info / context, not seek workarounds.

[2021-03-27 01:58] dohomi commented on #108
@warent do you have a repo to look at? @rohan-deshpande fixed his issue with having a wrong implementation on the sign-out process. I think it make sense and maybe should be mentioned by the author of this repo that the `useAuthState` should be used on the top level of the app and the value be passed down via context or props. Not sure if thats 100% correct just trying to help. I just started to u

[2021-03-27 03:17] dohomi commented on #33
Hi Guys,

I sit in the same boat like you guys. I use Hasura with Firebase auth and looked for a possibility to process custom claim. I added a PR maybe you can check it out if that works for you. Here a small example in TypeScript
[code]

[2021-03-28 11:32] DrSkunk commented on #11
For those who came across this error when not using react-native-firebase, I recently received this error when i supplied a string instead of a ref to `useList()`

The following snippet produced the error:
[code]

it is fixed by replacing it with a ref like so:

[code]

[2021-04-05 14:53] marduzca opened #140 "Examples for how to use the hooks"
Hi there!
I have already spent a good amount of time searching for examples to help me understand how to use these hooks, but sadly with no success.
Are there any examples that you provide to help people understand the basics and make clear what each hook does? It would really come in handy for an amateur in firebase that doesn't understand the basic concepts yet, like me.
Thank you!

[2021-04-05 15:29] lorstenoplo commented on #140
Hello!
Firstly I recommend you to get to know and work with firebase for atleast 2 projects
At this point of time you will know almost all potential errors and how to fix them ( ofcourse basics ).
After that try converting your existing react firebase projects to the one that uses hooks.

And for resources I have some :
For basic firebase stuff :
1. https://youtu.be/RDV3Z1KCBvo
2. https://youtu.be

[2021-04-06 21:04] marduzca commented on #140
I will do it that way then, thank you!

Anyways, some examples using the hooks would be great even for people that have some experience with firebase already

[2021-04-06 21:04] #140 closed

[2021-04-07 05:35] mfilteau commented on #134
I got the IDOption type and this also:

node_modules/react-firebase-hooks/auth/dist/auth/types.d.ts:6:50 - error TS2304: Cannot find name 'AuthActionHook'.

6 export declare type EmailAndPasswordActionHook = AuthActionHook<firebase.auth.UserCredential, firebase.FirebaseError>;

[2021-04-08 13:37] mfilteau commented on #127
tsc is used as part of vite's build and the package seems to be missing some types.

"build": "tsc & vite build"

I think exporting AuthActionHook & IDOptions should fix the issue.

[2021-04-09 14:13] lud-hu commented on #133
Works like a charm! Thanks!
I vote for adding it to the lib. 👍

[2021-04-14 14:29] nickroberts commented on #108
I see the same issue when calling `user.updateProfile({ displayName, photoURL });`.

I was assuming the `user` from `userAuthState(auth);` would get updated when we update the profile.

I am using the `useAuthState(auth)` hook in multiple applications, but it doesn't seem like they are actually subscribing to updates.

I'd rather not create a provider, or pass the user down from the app, if at all

[2021-04-14 14:54] lorstenoplo commented on #108
@nickroberts I guess the useAuthState hook itself isn't programmed to listen for updates in user profile. Have experienced the issue while the user has logged out? Is the hook showing the updates in this case?

[2021-04-14 16:41] nickroberts commented on #108
The hook fires when logging out, so it does trigger. I guess I'll have to figure out a way to handle updating the user profile. It's not a deal breaker, but it's just a bit odd. 😄

[2021-04-15 02:35] lorstenoplo commented on #108
@nickroberts Maybe I'll check the docs and create a pr but if you've got time please try making a pr and if u are into it just inform me.

[2021-04-16 10:03] iamswain25 commented on #62
how would you use transform functions to re-run the function? @chrisbianca

[2021-04-16 18:56] gavingolden opened #142 "Unable to import util/ functions from node_modules"
### Version:
3.0.2

### Background:
I'm unable to import the `useIsEqualRef` and other similar utility functions. I want to use them for my own custom hook.

I'm using typescript and Expo (react-native) and I tried a variety of import combinations but I always get this error. I'm not sure if this is a typescript issue or and underlying node module issue (I know nearly nothing about module resoluti

[2021-04-23 03:08] zip27 opened #145 "Order firestore documents by timestamp using useCollectionData"
**Version**
3.0.3

**Problem**
I am trying to order documents from Firebase Cloud Firestore based on a timestamp. On each document within the Firestore collection, I have a "createdAt" field followed by a timestamp. I am also using useCollectionData hook to display data from this document in this format:
`const [docs] = useCollectionData(docRef, { idField: "id" })` where `docRef` refers to a colle

[2021-04-23 20:41] Andrew-web-coder opened #146 "Feature request. Add hook for calling `sendPasswordResetEmail`"
Hi,

It would be nice to have a wrapper with loading/error state for `auth.sendPasswordResetEmail(email)`. Thanks.

[2021-04-24 06:47] chrisbianca commented on #127
This has now been resolved in https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v3.0.4

[2021-04-24 06:47] #127 closed

[2021-04-24 06:48] chrisbianca commented on #134
This has now been resolved in https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v3.0.4

[2021-04-24 06:48] #134 closed

[2021-04-24 06:51] chrisbianca commented on #145
@zip27 You can simply pass a ref that has ordering applied to `useCollectionData`:

[code]

[2021-04-24 06:51] #145 closed

[2021-04-24 06:57] chrisbianca commented on #142
@gavingolden these utility methods were never intended to be importable outside of the `react-firebase-hooks` package as I hadn't perceived a use for them.

There is however no real reason why they couldn't be if they are useful for developers, so I will take a look.

[2021-04-24 07:04] chrisbianca commented on #136
@otusweb this is an interesting request. The sensible place would be for this functionality to be built into the Firebase client itself rather than into this hooks library. I had a quick search and it doesn't look like this is currently supported, so perhaps a feature request there would be useful?

In the meantime, I would propose that you break out the code again into a hook that you can re-use

[2021-04-24 07:04] #136 closed

[2021-04-24 07:15] chrisbianca commented on #108
@nickroberts this is a limitation of the underlying `onAuthStateChanged` method as described here: https://firebase.google.com/docs/reference/js/firebase.auth.Auth#onauthstatechanged

The underlying method only fires on login and logout, not when the user changes. Unfortunately there are no other listeners built into the Firebase library that would allow this to work any better.

To achieve the re

[2021-04-24 07:15] #108 closed

[2021-04-24 07:23] chrisbianca opened #147 "Feature request. New hook to monitor updates for the current user."
The `useAuthState` hook only updates if the user logs in or logs out and not if the user updates in any way. This is a limitation of the underlying `onAuthStateChange` method described here: https://firebase.google.com/docs/reference/js/firebase.auth.Auth#onauthstatechanged

**Proposal**
New `useCurrentUser` hook which listens to updates to the user as well as login / logout events

**Thoughts**
T

[2021-04-24 07:23] chrisbianca commented on #108
See https://github.com/CSFrequency/react-firebase-hooks/issues/147

[2021-04-24 07:25] chrisbianca commented on #133
Thanks @dohomi, this would be a good addition. Feel free to submit a PR for review, or let me know and I can take your code and apply myself.

[2021-04-24 08:32] warent commented on #108
The original bug reported here is unrelated to #147 or user updates. The problem is that useAuthState doesnt work if used in multiple places.

[2021-04-25 07:59] dohomi commented on #133
@chrisbianca feel free to grab https://gist.github.com/dohomi/78d240028a3450c5477e91e6004288ab#file-useuploadfiles-ts which you can drop in and only need to make small modifications for the loading and error handling. The payload is:
[code]
I am using this right now and found it most flexible. I am saving this 4 params inside of my database and on request I use the useDownloadURL hook to receive i

[2021-04-30 16:36] imjared commented on #52
looks like this was handy, after all:
https://github.com/CSFrequency/react-firebase-hooks/tree/master/firestore#transforming-data

[2021-05-01 17:50] RobertBrunhage opened #148 "Mock `useDocumentDataOnce` with jest"
I am using `useDocumentDataOnce` and trying to mock out the result but not being successful.

My understanding is that the first one is the data, second one is loading and the last one is the error, but this just makes the code get stuck in the test.

[code]

[2021-05-12 08:11] ripern opened #151 "Do I need to unsubscribe listeners?"
I'm using useDocumentData (among others) and I was wondering if I need to unsubscribe listeners myself. I tried to figure out if it was being done automatically by looking at https://github.com/CSFrequency/react-firebase-hooks/blob/1d1ca28241ece8f4662aa2aeadff132cd880c32b/firestore/useDocument.ts#L96 but couldn't really find. Please explain and pointing to the source would be greatly appreciated!

[2021-05-16 07:31] ishowta commented on #151
https://github.com/CSFrequency/react-firebase-hooks/blob/1d1ca28241ece8f4662aa2aeadff132cd880c32b/firestore/useDocument.ts#L77-L79
It should not be necessary since it will be unsubscribed here.

[2021-05-16 18:47] #151 closed

[2021-05-18 10:40] otusweb opened #152 "User.reload does not cause useAuthState to refresh the authenticated user"
In our flow, we check for the email verification field on the user object returned by authenticated user.

In the UX, we have a button the user can tap and that will trigger a reload of the authenticated user.
When the reloads complete, I would expect the useAuthState hook to fire if the authenticated user changed.
Unfortunately, I think the authenticated user object stays the same, though the ema

[2021-05-25 16:22] jdpowell1 commented on #105
About a month ago, Firebase 9 entered beta, so hopefully most of the API is stable now.

[2021-06-01 17:13] byCedric opened #154 "Package `main` field points to non-existing index file in `dist`"
Hi! I'm Cedric and I work on [Snack](https://snack.expo.io) - a tool for React Native snippets.

We received a report about this package causing bundling errors and it's related to the `main` field in the `package.json` pointing to a non-existing `dist/index.*.js` file. Here is a [more in-depth explanation of what's happening](https://github.com/expo/snack/issues/134#issuecomment-852291059).

Not

[2021-06-07 21:42] shamoons commented on #97
@joelmccauley - did you have to manually create a composite index? I thought Firebase would give you a link to create oen

[2021-06-10 15:46] stijnvanlieshout opened #155 "How to run two dependent firestore queries using hooks?"
I just installed this package and am trying to rewrite the following:

[code]

My code using this package looks like this:
[code]

Question 1:
As you can see, the ref argument for the second `useDocumentDataOnce` call (for teamOwner) is null until team has loaded. This works fine, but I wonder if it is ok to chain these hooks like this? Do I perhaps make unnecessary firestore calls this way?

Ques

[2021-06-14 20:30] shanmukhrvl opened #156 "Error when importing with vite build tool"
When importing package in [vite](https://github.com/vitejs/vite) project, It throws an Error: `Failed to resolve entry for package "react-firebase-hooks". The package may have incorrect main/module/exports specified in its package.json.`

I am using vite-react-javascript template

I think this issue might be similar to #154

[2021-06-15 08:12] shanmukhrvl commented on #156
Sorry,  I imported `import { useAuthState } from "react-firebase-hooks"` instead of `import { useAuthState } from "react-firebase-hooks/auth"`
Issue is now resolved

[2021-06-15 08:12] #156 closed

[2021-06-25 04:47] smartscore opened #157 "Sign in with provider?"
Does this support sign in with providers? or is there plan to integrate this?

[2021-06-25 04:51] lorstenoplo commented on #157
@smartscore it doesn't support sign in with providers yet but the author @chrisbianca told we could do it in the future but I don't think anyone is working on it yet.

[2021-06-25 14:47] #157 closed

[2021-06-26 20:48] bartkoedijk opened #158 "Data Type definition"
Hi,

I have been using your NPM package for a while now and I love it.
Currently I am using Typescript + React Native for my project.

I came across a Type definition and wondert if was necessary.

`const [values, loading, error] = useCollectionData<MyType[]>(ref);`

In the line above I would expect values to be a type of: **MyType[]**.
Instead it returned: values: `Data<MyType[], "", "">[] | unde

[2021-06-27 11:23] zano-aa commented on #60
Hi guys,

Do you know if those issue regarding react-native and firebase has been fixed yet ?

[2021-06-28 23:10] Konstantin-Koktashev opened #159 "OrderBy fails to work, without it works well."
Hey There, I have this piece of code:

  const [roomMessages, loading] = useCollection(
    roomId && db.collection('rooms').doc(roomId).collection('messages').orderBy('timestamp','asc')
  )

However the ordering at the end result in an empty array, without it works but but unordered.
is there a quick fix ? I get no console error's about indexing, just an empty array

[2021-06-30 01:16] bartkoedijk commented on #159
I tried it locally and in my project .orderBy works fine. Once I had an issue with the .orderBy method and returned an empty array. The issue was that I added the wrong value in the orderBy method. So make sure every document in your "messages" collection contains a **fieldname** with "timestamp"

Hope it solves your problem =)

[2021-06-30 17:12] Konstantin-Koktashev commented on #159
I did check, al 5 docs have timestamp, here a screenshot of the data:
[https://i.stack.imgur.com/TRPGh.png](url)

[2021-06-30 17:27] bartkoedijk commented on #159
Your field is called **timeStamp** and in your query you set it as **timestamp**
In the where field it is case sensitive. :)

Can you change it to **timeStamp** in your where field and see if it works?

[2021-06-30 19:06] Konstantin-Koktashev commented on #159
Well that does it, no idea how I missed that little detail, thx alot!

[2021-06-30 19:06] #159 closed

[2021-07-09 16:45] klutchdev commented on #108
are y'all still having an issue?? I have a fairly large sized ecommerce app that uses this in multiple components, along with it's back office counterpart that uses it at the top level with context. Both apps operate properly without any notable difference and update in real time when auth is updated

[2021-07-13 18:57] imjared commented on #148
This link helped me out: https://stackoverflow.com/a/66091532/628699

[2021-07-20 01:28] smartscore opened #161 "Invalid hook call in getServerSideProps or getStaticProps"
Hi
I'm having issue with using any of the methods for firestore (useDocument, useDocumentData, useCollection, etc...). I am currently trying to implement this in latest version of next JS. The log keeps showing me `invalid hook call`, but everywhere I search, react-firebase-hooks methods are being used the same way inside `getServerSideProps` and `getStaticProps`

Log from Next JS:
[code]

Snippet

[2021-07-27 20:41] realBlueVein commented on #97
@joelmccauley  could you elaborate on how you addressed this issue? New to firebase but trying to figure out how to use .where and .orderBy in the same query. Something about indexing? Thanks.

[2021-07-29 00:57] Temperantia commented on #154
Had the same problem, you need to import the specific module instead of the generic package as stated in the mentioned issue above.
In my case `import { useCollection } from "react-firebase-hooks/firestore";` solved the issue

[2021-07-30 02:15] oknoorap opened #162 "Upgrade new SDK"
Firebase has new SDK[1] with tree-shaking supports. It would be nice if `react-firebase-hooks` upgrade to the new SDK.

[1] https://firebase.googleblog.com/2021/07/introducing-the-new-firebase-js-sdk.html

[2021-08-03 07:15] vuza commented on #155
I've had the same problem, this helped: https://stackoverflow.com/questions/65867856/infinite-loop-when-working-with-react-and-react-firebase-hooks

Hope it helps you too! :)

[2021-08-03 21:23] chansen424 opened #164 "README for the useAuthState hook is incorrect for logged out users"
Auth Documentation [README](https://github.com/CSFrequency/react-firebase-hooks/blob/master/auth/README.md) says user is `undefined` when logged out. User is actually `null`.

[2021-08-06 04:23] reanyouda commented on #13
i'm looking for that too

[2021-08-10 06:33] lcdss commented on #162
Already being discussed in #105.

[2021-08-10 06:40] oknoorap commented on #105
Hi, any updates on this?

[2021-08-14 12:44] Yoruba opened #167 "feature request for: namedQuery"
Is it possible to use firestore.namedQuery('cached-query') with react-firebase-hooks?
If not, it would be nice to have.

[https://firebase.google.com/docs/firestore/bundles](url)

[code]

Thanks, Yoruba

[2021-08-17 13:50] chrisbianca commented on #161
@smartscore I'm afraid that React hooks aren't available on the server side, and can only be called within a functional component on the client side. More information available here: https://reactjs.org/docs/hooks-intro.html

[2021-08-17 13:50] #161 closed

[2021-08-17 13:56] chrisbianca commented on #155
@stijnvanlieshout Apologies for the delay, in response to your questions:

1) Yes, chaining hooks like this is the recommended way to work with dependencies, and the reason that the hooks support a `null` reference
2) Unfortunately this isn't something which is supported, and would be a bit fiddly to get working correctly and intuitively. I would suggest that you simply chain the two `loading` fla

[2021-08-17 13:56] #155 closed

[2021-08-17 13:59] chrisbianca commented on #152
@otusweb Apologies for the delay. Unfortunately this is the behaviour of the underlying Firebase `AuthStateListener` that is being used by `useAuthState`. The listener will only fire if the user logs in or logs out and there is no easy way to work around the issue you're seeing.

[2021-08-18 06:59] c-info opened #168 "Listener not detaching on go back"
"useCollection"

this hooks keep listening even go back or remove screen from stack.

[2021-08-26 14:14] arbejd opened #170 "Firestore Hooks: Trigger a refetch manually?"
Hi folks, thanks for a nice module!

Is there a way trigger a manual refetch? I have a use case where a claim in firestore may be set after mounting, so the hook could use a refetch under certain conditions.

Thank you!

[2021-08-30 05:02] 1alexvash opened #171 "Question about optimization and performance using useAuthState"
If I have a page1 that uses **useAuthState** hook, and then user jumps to page2 which also uses this hook.
Is it good from a performance standpoint?

Or it is better to call this hook once, and store this information in Context/Redux?

[code]

[2021-08-30 20:53] cfofiu commented on #105
Would love to use this library with Firebase 9. Any plans on merging the code from @jdpowell1?

[2021-08-31 12:43] vb5ono commented on #171
Definitely the second option, you should call it once. I usually use the React Context but I guess you could use Redux too.
Though I don't think your question should be considered as an issue !

Have a good one !

[2021-09-03 14:05] skelikDev opened #172 "Firebase version 9"
Will you update lib?

[2021-09-09 12:22] K-Sato1995 commented on #172
#153

[2021-09-15 15:01] theZaX commented on #170
https://github.com/CSFrequency/react-firebase-hooks/issues/53

I think it's a pretty important use case but it doesn't look like it'll be added to this module. This module also doesn't support custom claims so I'll probably stop using it.

I've been using the source code of the hooks to make my own with custom functionality. It should be pretty easy to just also return the get function from the ex

[2021-09-30 15:23] nicosayer commented on #97
@joelmccauley Can you explain how you fixed this ? I have the same issue and don't understand what is going wrong.

[2021-10-01 10:45] matthieunelmes opened #175 "Elegant way to combine useListKeys and useObject"
So I have a list of keys that I can obtain with the database useListKeys hook.

I then want to iterate through the keys to return each relevant object. Any help would be much appreciated.

[2021-10-04 06:30] jamesjara commented on #171
@vb5ono could you elaborate on the reason  why it's better

[2021-10-23 23:41] listentothefrog opened #177 "TypeError: v1.isEqual is not a function"
Hey, I am using the `useCollectionData` hook in NextJs/React project. I am fetching some posts from my firestore database and I am getting this error `TypeError: v1.isEqual is not a function`

This is the code that I am using to fetch the posts.

[code]

Can anyone help me fix this bug?

[2021-10-29 16:02] Jonak-Adipta-Kalita opened #178 "When Instaling package it installs v3 instead of v4!!"

[2021-10-29 16:23] #178 closed, assigned to nobody

[2021-10-30 02:25] Jonak-Adipta-Kalita commented on #178
ok

[2021-10-30 07:44] chrisbianca commented on #178
This has now been published

[2021-11-04 12:40] laurensnl opened #180 "Typescript error (v4)"
I'm having trouble using the v4 hooks with Typescript.

[code]

Typescript gives me this error on the **q** const in `useCollection<Country>(q);`

[code]

[2021-11-05 08:54] chrisbianca commented on #180
It looks like the underlying types used in v9 of Firebase may have changed more than expected. I will do some digging over the weekend and find a fix.

[2021-11-06 03:26] Yonom opened #181 "v4 does not work with react-native"
The README.md advertises React Native Firebase support:

but v4 does not work with react-native-firebase v13.0.1:

![image](https://user-images.githubusercontent.com/1394504/140596388-cf04bbfe-6ae3-452d-9ab9-6f0074726539.png)

[2021-11-06 08:18] #180 closed

[2021-11-06 08:51] chrisbianca commented on #180
Unfortunately, it seems that the new types in v9 of Firebase are stricter than v8 which means that the previous hack in v3 of `react-firebase-hooks` to support this shortcut is no longer possible.

Instead, you must make use of the built in `FirestoreDataConverter` functionality described here: https://firebase.google.com/docs/reference/js/firestore_.firestoredataconverter

An example (taken from

[2021-11-06 08:53] chrisbianca commented on #181
@Yonom thanks for flagging. Unfortunately, it seems that with v9 of firebase, the types of the web and react native versions have diverged too far to easily support both. I will remove the note for the time being and consider if there is a better way to support RN in the future

[2021-11-06 08:53] #181 closed

[2021-11-06 09:17] chrisbianca commented on #164
This has been fixed

[2021-11-06 09:17] #164 closed

[2021-11-10 23:05] listentothefrog commented on #177
The problem is with `useCollectionData`, it is not compatible with v9 sdk.

[code]

[2021-11-11 21:01] #177 closed

[2021-11-12 02:04] Sptele opened #182 "Attempted import error: 'firebase/app' does not contain a default export (imported as 'firebase')."
I am trying to get react-firebase-hooks to work with firebase v9, but I have found an issue that I can't seem to fix. When I run my react project, I get this error:
`./node_modules/firebase-react-hooks/auth/index.js
Attempted import error: 'firebase/app' does not contain a default export (imported as 'firebase').`

Here is my firebase configuration (v9): [https://paste.myst.rs/6lr0a9op](https://pa

[2021-11-12 12:00] chrisbianca commented on #182
@Sptele it looks like you're using `firebase-react-hooks` rather than `react-firebase-hooks`

[2021-11-12 12:00] #182 closed

[2021-11-12 12:01] chrisbianca commented on #175
@matthieunelmes apologies for the delayed response. I would suggest you have two components, one loading the list of keys using `useListKeys` and the rendering a list of child components which uses `useObject`

[2021-11-12 12:01] #175 closed

[2021-11-14 20:26] fabarea opened #183 "Type error for useCollectionData in version 4"
Related to an old issue (https://github.com/CSFrequency/react-firebase-hooks/issues/120) but somehow different in the typescript error message.

Here is the code

[code]

I get the following typescript validation error

[code]

Version:

"react-firebase-hooks": "4.0.1"
"firebase": "^9",
"typescript": "~4.3"

[2021-11-15 13:57] chrisbianca commented on #183
@fabarea Due to the way in which firebase v9 defines its types, it's no longer possible to cast directly, and instead you have to use the built in `FirebaseDataConverter` functionality. Take a look at the answer here for an example: https://github.com/CSFrequency/react-firebase-hooks/issues/180#issuecomment-962420543

[2021-11-15 13:57] #183 closed

[2021-11-19 14:56] T4533N opened #184 "Issue with "useDocument""
I don't know what I am doing wrong but according to docs, passing the docRef isn't working!

![image](https://user-images.githubusercontent.com/44163644/142643136-b6d9ebe2-feea-4546-be3b-39d0f50980c3.png)

[2021-12-02 04:13] idangozlan opened #187 "What's the best practice getting a document without refetch every component rerendering"
Hi,

There's something not clear to me about the `useDocument`, which either of the examples is not touching, and this is the fetching every time the component is getting rerendered.

Says we have a component with counter and "increase counter" button, every time we'll click on the increase button, it will fetch again the document.
Is there anything to do about that?

Thanks.

[2021-12-02 04:47] idangozlan commented on #187
Nvm, I didn't notice that there's an internal cache layer.

[2021-12-02 04:47] #187 closed

[2021-12-03 08:11] molimauro commented on #187
Sorry, where did you find this internal layer? It just uses the default Firestore approach to this. You have to manually specify the option `cache` to check the cache first instead of going directly to the server. Or am I missing something? :)

[2021-12-09 11:16] hannojg commented on #181
@chrisbianca I'd like to create a library especially for react-native. Are you fine with me basically copying the code of version 3? I'd highlight that the implementation is based on this library. I am asking because I am not entirely sure how apache 2.0 works.

[2021-12-10 09:21] hannojg commented on #158
Hi @bartkoedijk,

I am currently porting this library over for react-native. I explicitly fixed the problem you are describing in this new library.
https://github.com/skillnation/react-native-firebase-hooks

The library is stable now, however it is currently missing documentation, but the API works 1:1 the same as with this library.

[2021-12-11 07:17] 1alexvash opened #188 "A lot of reads in the Firestore database"
I've got a lot of reads in my app, and I'm not sure where are they coming from.
If I have many routes in my app with data, and the user jumps through them back and forth, is it going to triggers reads from Firebase?
Or only after refreshing the page?

[2021-12-11 07:30] chrisbianca commented on #188
Hi @1alexvash, this could be for any number of reasons and without a full code example will be impossible for me to help diagnose.

If the components reading from Firestone are unmounting and remounting when switching between pages then it is possible that your app may be re-triggering reads. This will depend on the underlying Firestore caching behaviour and is not a result of anything configured

[2021-12-11 07:30] #188 closed

[2021-12-11 07:33] chrisbianca commented on #184
@T4533N apologies for the slow reply. It looks like you're trying to use hooks on the server side of a Next.js app which is not supported by Next.js

[2021-12-11 07:33] #184 closed

[2021-12-11 07:35] chrisbianca commented on #154
Closing this issue as it sounds like they were importing from the main library rather than the sub package as required

[2021-12-11 07:35] #154 closed

[2021-12-12 23:08] chaosLegacy commented on #158
Hi,
I'm new to firebase, and I found these hooks pretty much useful, but I have a little problem.

I'm using firebase ^9.6.1 along with react-firebase-hooks 4.0.1

This is the piece of code that I use to retreive my messages from firestore
The type Post that i' passing to useCollectionData seems generating an error: see below

[code]

[code]

Has anyone faced a similar issue?

[2021-12-13 08:04] ZakKa89 commented on #170
Seconded. I'm in a project where suddenly the need for this arised. The real-time functionality that comes with useCollectionData was being perceived as unwanted by the users, so I'd like to manually refetch. Quite a bummer that there is no way to do this.

[2021-12-15 17:11] 1alexvash opened #189 "Why clean up returns undefined?"
[code]

![image](https://user-images.githubusercontent.com/46556479/146232705-35bdeaf5-8b60-46a9-b4db-ff5de1747f98.png)

[2021-12-18 06:17] dylanwatsonsoftware opened #190 "Feature: Allow an initial value to be returned by the hooks"
In NextJS the idea is that you preload the data at build time. This then gets passed to your component via props.

If I have a component that uses say useCollectionData, it would be useful to specify an initial value that the hook should return whilst the data is loading. As soon as the firebase query has loaded, this value would be ignored and replaced with the value from the firebase query.

It

[2021-12-18 07:33] chrisbianca commented on #190
Hi Dylan, this sounds like it would be a very useful feature so am more than happy to review a PR for it. As you say it should be a relatively simple change, but shout if you have any issues and I am happy to take a look myself.

[2021-12-18 10:05] dylanwatsonsoftware commented on #190
Ok awesome. will try to find time this week to take a look and see how far I get!

[2021-12-18 13:22] Yonom commented on #181
@hannojg looking forward to it!

[2021-12-18 13:44] hannojg commented on #181
@Yonom its already done: https://github.com/skillnation/react-native-firebase-hooks
The api is the same (except for the imports ofc). Just haven't had the time yet to put up a proper documentation/readme

[2021-12-20 05:17] dylanwatsonsoftware commented on #190
So, I finally got a local copy of react-firebase-hooks hooked up to my local project.
For those giving it a go, the main issue was that I need to:
1. Run `npm link` in the root of the library directory
2. Run `npm link  react-firebase-hooks` in the root of my projects directory
3. The step missing from most documentation was that I then needed to run `npm link` in the react-firebase-hooks/node_mop

[2021-12-20 05:19] dylanwatsonsoftware commented on #190
NextJs seems to have some issues with Firebase v9 so my plan is to raise the PR against the v3 branch and let you pull it into master later.

[2021-12-21 08:56] chrisbianca commented on #189
@1alexvash I'm not entirely sure what you're hoping to achieve with this code snippet, but the `useEffect` will only ever evaluate once on the initial render as you are passing an empty array `[]` into the second field. This means that when the collection data is actually loaded it won't re-trigger.

This isn't an issue with the library so I'm going to close

[2021-12-21 08:56] #189 closed

[2021-12-21 13:58] 1alexvash commented on #189
I need to send a request to the server to mark notifications as **seen** when the component unmounts

I have achieved it using two refs and useEffect, but I'm not sure if it the best practice

  const notificationsUnseen = React.useRef<NotificationItemType[] | null>(null);
[code]

[2021-12-21 15:53] chrisbianca commented on #190
Now part of: https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v3.0.5

[2021-12-21 15:53] #190 closed

[2021-12-21 16:32] chrisbianca commented on #167
@Yoruba I've just been (belatedly) looking into this, and named queries are already supported by the `useCollection` and `useCollectionData`:

[code]

[2021-12-21 16:32] #167 closed

[2021-12-23 13:23] 0x80 commented on #158
When I started using this library I think it didn't have generics yet, but I also wanted to have a different type of response. In my code I like to pass around documents as `{id: string, data: T, ref: DocumentReference}`, and also I didn't see the benefit of having an error returned everywhere. I preferred to have it just throw, as query errors should be very rare anyway (like missing indexes)

So

[2021-12-24 16:01] kingsleykbc opened #192 "useCollection not working"
Trying to use `useCollection` in the code below:

[code]

But I keep getting this error message:

[code]

[2021-12-24 17:18] geraldosalazar16 opened #193 "User login status not persisted"
Recently updated my firebase version from "firebase": "^8.3.1" to "firebase": "^9.6.0. Therefore, also upgraded react-firebase-hooks to "^4.0.1" but now it shows this warning

AsyncStorage has been extracted from react-native core and will be removed in a future release. It can now be installed and imported from '@react-native-async-storage/async-storage' instead of 'react-native'. See https://git

[2021-12-27 16:15] mrtnkb opened #194 "Firestore use*Once methods seem to be susceptible to race conditions and "state update on an unmounted component"."
This looks very similar to https://github.com/CSFrequency/react-firebase-hooks/issues/35, but that was marked fixed in 2019.

For slow queries and fast UI changes it is possible for either the wrong result to be displayed or "state update on an unmounted component" warnings to be shown.

This seems to be caused by the async state update in the *Once method useEffects. `setValue` is called asynchro

[2021-12-29 17:59] grojas123 opened #195 "Error: Objects are not valid as a React child (found: object with keys {001, 002}). If you meant to render a collection of children, use an array instead."
Hi I am using this :
[code]
And gave this error: Error: Objects are not valid as a React child (found: object with keys {001, 002}). If you meant to render a collection of children, use an array instead.
If I use the original example did returned any value .

[2021-12-29 18:51] #195 closed

[2021-12-29 18:51] grojas123 commented on #195
I am not using properly this .

[2021-12-30 08:08] chrisbianca commented on #192
@kingsleykbc which version of `react-firebase-hooks` do you have installed? My guess is that you might have version 3.0.x rather than v4

[2021-12-30 08:10] chrisbianca commented on #193
@geraldosalazar16 this is an issue with the underlying Firebase library rather than `react-firebase-hooks`, I would suggest you report an issue with Firebase.

[2021-12-30 08:10] #193 closed

[2021-12-30 08:14] chrisbianca commented on #194
@mrtnkb how do you expect the `get` responses to be returned out of order? `get` returns the latest value of the document or collection once and only once.

The invalid call after a component is unmounted is a fair challenge, although is a no-op in React so won't actually harm your application.

[2021-12-30 10:58] mrtnkb commented on #194
Isn't it because under the hood they're network requests? There aren't any guarantees on how long each will take to get serviced and of two queries placed in quick succession (e.g. in response to rapid UI state changes) the second query then clause could get called first - leaving setValue to be called with the now invalid response from the first query.

You can reproduce this problem if you set u

[2022-01-02 00:08] kingsleykbc commented on #192
Yes, my bad. I am on version 3.0.5. I'll update and try again

[2022-01-02 08:22] chrisbianca commented on #192
No problem, I'm going to close this issue

[2022-01-02 08:22] #192 closed

[2022-01-03 22:50] vinodhum opened #198 "writing data to firestore"
Hi I am new to firebase, I was able to make retrieve data using react-firebase-hooks but cannot find any documentation on how to set, add or push (write) to documents or collections or how to get `ref ` from hooks ?

[2022-01-04 08:05] locona opened #199 "[Firestore] When both useCollectionData and useDocumentData are called for the same collection at first loading, only one result of useCollectionData is returned."
When both useCollectionData and useDocumentData are called for the same collection at first loading, only one result of useCollectionData is returned.

**examples**

**value1 expects two results to be returned. only one result is returned.**

docs
* id_1
* id_2

[code]

**Environtment**
* react-firebase-hooks: 4.0.1
* firebase: 9.6.1

[2022-01-04 08:11] locona commented on #199
But it works fine with useCollectionData / useDocumentOnce

Only listen does not seem to work. [...]

[2022-01-04 11:45] locona commented on #199
I was expecting all the data to be returned when loading=false.

In the current implementation, loading=false is used even when fromCache: true, but
How about making loading=true when fromCache: true?

@chrisbianca

[2022-01-04 13:55] chrisbianca commented on #199
@locona this would fundamentally alter the way that the hooks library work. The `loading` flag is there to indicate whether there is data ready to be displayed, not to indicate the type of data, i.e. whether it is from the cache or not.

A better option would be to have the `xxxData` hooks return the snapshot as well as the data so that the metadata would also be available.

[2022-01-04 14:02] chrisbianca commented on #198
@vinodhum the majority of the hooks in the library are about reading data. There is an open feature request for hooks to support mutating data https://github.com/CSFrequency/react-firebase-hooks/issues/36, but its not something that is actively being worked on at the moment.

[2022-01-04 14:02] #198 closed

[2022-01-04 14:07] chrisbianca commented on #171
Actually, the hook uses `auth.currentUser` as the default value when it loads, so there will be no additional network request so there is no difference between `useAuthState` and using the context or redux.

[2022-01-04 14:07] #171 closed

[2022-01-04 14:08] chrisbianca commented on #168
@c-info I'm happy to investigate if you can provide a reproducible example, but this is not the behaviour that I see when using the hooks correctly.

Please feel free to re-open with an example if you're still seeing the problem

[2022-01-04 14:08] #168 closed

[2022-01-04 14:17] locona commented on #199
@chrisbianca
Thank you!

As for the changes to xxxData, the changes will be large.
I'm going to useCollection to use metadata only for my project and make a decision.

[2022-01-04 14:17] #199 closed

[2022-01-04 14:33] chrisbianca commented on #33
Belatedly, I have just merged the #139 PR from @dohomi and this will be included in the upcoming v5 release in the next week or two. Apologies for the delay.

[2022-01-04 14:33] #33 closed

[2022-01-04 19:00] chrisbianca commented on #146
This has just been done here https://github.com/CSFrequency/react-firebase-hooks/commit/08489c5de26b366669149fc98df449527fe59df6 and will be released in the upcoming v5 in the next week or two

[2022-01-04 19:00] #146 closed

[2022-01-05 11:43] chrisbianca commented on #123
This has been added and will be part of the upcoming v5 release in the next week or two

[2022-01-05 11:43] #123 closed

[2022-01-05 16:19] chrisbianca commented on #60
I'm afraid that this is going to be an underlying issue with Firebase and not with the hooks, as they are simply passing on the responses as they are received.

[2022-01-05 16:19] #60 closed

[2022-01-05 18:54] philldev commented on #158
removing generics <T> from DocumentReference in useDocument.d.ts seems to solve the problem for me.

- before
`export declare const useDocumentData: <T = DocumentData, IDField extends string = "", RefField extends string = "">(docRef?: DocumentReference| null | undefined, options?: DataOptions<T> | undefined) => [Data<T, IDField, RefField> | undefined, boolean, FirestoreError | undefined];`

- aft

[2022-01-06 11:16] mrtnkb commented on #194
That would be awesome! Or if you accept contributions/have a guide for new contributors, then I'd be happy to send a PR for you to look at.

[2022-01-06 12:13] chrisbianca commented on #194
@mrtnkb more than happy to accept contributions and review them. There aren't any guidelines as such, just make sure you have prettier running if possible.

[2022-01-11 17:01] chrisbianca commented on #194
This has been fixed and released as part of https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v4.0.2

Thanks @mrtnkb for highlighting and resolving the issue

[2022-01-11 17:01] #194 closed

[2022-01-11 17:30] #158 closed

[2022-01-12 13:30] chrisbianca commented on #170
This functionality has just been added and will be released as part of the upcoming v5. Apologies for the delay, but this was a fairly fundamental change that required some thought and time.

Reference: https://github.com/CSFrequency/react-firebase-hooks/commit/0c7036875214c772280e1663f6aa4a35a31c4625

[2022-01-12 13:30] #170 closed

[2022-01-12 13:32] chrisbianca commented on #42
@bgarrett-rt This is a fairly niche feature request that hasn't gained much support. I'm loathe to overcomplicate the API with little used features, so I'm going to close this, sorry.

[2022-01-12 13:32] #42 closed

[2022-01-12 19:09] arbejd commented on #170
Thank you @chrisbianca , i will take it for a spin asap

[2022-01-17 09:09] fvanwijk opened #202 "Add `recursive` option"
Suppose you have a document where one of its fields is reference. When you fetch with `useDocumentData` the reference is not fetched.

For example a BlogPost document:
[code]

[code]
`loading` should be false as long as blog and author are not resolved yet.

[2022-01-21 13:24] chrisbianca commented on #142
@gavingolden I realise this has been a long time coming, but this will be added in the upcoming v5 release

[2022-01-21 13:24] #142 closed

[2022-01-21 13:30] chrisbianca commented on #202
@fvanwijk this is incredibly difficult to implement as it would involve needing to inspect all of the data coming out of Firestore and start requesting any DocumentReference contained there. It would also be highly inefficient as you would only be able to request the data sequentially, so wouldn't scale to the Collection hooks.

With the upcoming v5 functionality, we are moving away from a bespoke

[2022-01-21 13:30] #202 closed

[2022-01-21 15:15] chrisbianca commented on #133
I have finally got round to implementing a `useUploadFile` hook which will be released as part of v5.

@dohomi thanks for the inspiration - whilst I haven't taken yours in its entirety, I leaned on it heavily whilst implementing the version included with v5.

[2022-01-21 15:15] #133 closed

[2022-01-21 15:54] chrisbianca commented on #133
v5 is now released: https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v5.0.0

[2022-01-21 15:54] chrisbianca commented on #142
v5 is now released: https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v5.0.0

[2022-01-21 15:54] chrisbianca commented on #170
v5 is now released: https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v5.0.0

[2022-01-21 15:55] chrisbianca commented on #158
v5 is now released: https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v5.0.0

[2022-01-21 15:55] chrisbianca commented on #123
v5 is now released: https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v5.0.0

[2022-01-21 15:55] chrisbianca commented on #146
v5 is now released: https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v5.0.0

[2022-01-21 15:55] chrisbianca commented on #33
v5 is now released: https://github.com/CSFrequency/react-firebase-hooks/releases/tag/v5.0.0

[2022-01-21 18:24] gavingolden commented on #142
awesome, thanks for making the change

[2022-01-25 07:42] MZ071999 opened #203 "useCollection is working in development mode but not in production"
I have a next.js application in which there is a real-time chat feature.

I'm using the `useCollection()` hook to retrieve the chat data from firebase.

So the mechanism that I'm trying to achieve is:
1. user clicks on the "send message" button
2. the system checks whether or not the chat between user A and user B has already exist
3. If it doesn't exist, a new chat is created. If it already exist

[2022-01-26 08:30] MZ071999 commented on #203
@chrisbianca would appreciate if you could take a look at this

[2022-01-26 11:21] chrisbianca commented on #203
@MZ071999 this is almost certainly an issue with the way you have structured your code and not the `useCollection` hook itself. I'm happy to investigate if you can bring a reproducible example demonstrating that `useCollection` is causing the problem, but otherwise this is a question more suited for Stack Overflow.

[2022-01-26 11:21] #203 closed

[2022-01-26 12:21] MZ071999 commented on #203
Thank you

I believe it is causing the problem because:
1. a new chat entry is created by firebase, so the connection with firebase is working
2. but a new chat is always created, meaning the `useCollection` hook always returns empty value
2. when I tried to console log `userChatRef`, I did get the ref value and the connection to firebase are all defined
3. when I tried to console log `QuerySnapSh

[2022-01-27 08:53] MZ071999 commented on #203
Update: the useCollection hook returns value for a very brief second then disappear

[2022-01-27 09:00] chrisbianca commented on #203
@MZ071999 have you checked in the firebase console that the value actually exists? It sounds to me like your writes are being rejected by firestore

[2022-01-27 10:19] MZ071999 commented on #203
yes the value exists, I managed to receive them in development mode.

I have set the rules to allow read and write, I don't think firestore is rejecting the writes because I managed to create a new chat and I can see the value in firestore.
It's just the useCollection hook is returning an empty array. I'm still not sure what's going on

[2022-01-27 12:55] MZ071999 commented on #203
update:
I tried the code with vanilla `useEffect` and `onsnapshot` and I still got an empty array so now I believe the problem is not with useCollection() but probably with the read configuration. I can write but cannot read, that's what I'm getting now

[2022-01-27 16:30] Zanchee opened #204 "Add ability to retry realtime database hooks in the of an error"
How can one reevaluate the hook if the hook fails and returns an error?

[2022-01-29 21:02] mauriciosoares commented on #110
I wanted to bring this issue back to life again to suggest a new feature...

So conditional loading is something that would come in hand, like saillcemail mentioned, in case a user is not logged in, or a specific data is not loaded yet... Your approach works, but feels kinda like a hack, having these ternaries in the document reference...

I've worked with [React Query](https://react-query.tanstac

[2022-01-30 00:29] mauriceackel commented on #110
Hey @mauriciosoares I just quickly scanned over your suggestion and I just wanted to mention that with this solution there would potentially still be typescript issues. Although they might be solved by simply using the ‘?‘ operator, I still think that my initial approach is valid.

If you don't like using a ternary in the document reference, simply use a useMemo hook to achieve the same functional

[2022-01-30 16:09] AndreasHaaversen opened #205 "useSendPasswordResetEmail requires the user to be logged in"
The typical use-case for this hook is to implement "forgotten password"-type functionality. That isn't possible with the hook as is since it requires the user to log in first.

The Firebase SDK itself doesn't require a user to be logged in. I don't think we should wrap the SDK in more restrictions than it already provides.

[2022-01-31 14:24] chrisbianca commented on #110
@mauriciosoares, as @mauriceackel says, the example you give wouldn't work when the user is not defined as `user.uid` would throw an error so you would have to protect against this with a ternary, or similar, anyway, so in that instance you'd just be moving the same logic elsewhere in your code.

Whilst the React Query approach is another way of doing things, I'm loathe to introduce additional com

[2022-01-31 14:29] chrisbianca commented on #205
@AndreasHaaversen good spot, this was an oversight on my side. I'll get this resolved and a patch release out shortly.

[2022-01-31 14:30] #205 closed

[2022-01-31 14:33] chrisbianca commented on #204
@Zanchee the Firestore `xxxOnce` hooks have a manual `reload` function that gets returned by the hook, but no other hooks do at the moment.

Are there particular hooks where you think this would be useful?

[2022-01-31 14:46] Zanchee commented on #204
Ahh interesting. The firebase real-time database would be great! 😊

[2022-02-01 10:38] shikhar13012001 opened #206 "How to use useSignInWithFacebook hook?"
I see a useSignInWithFacebook in the docs but when I use it , gives error
```Attempted import error: 'useSignInWithFacebook' is not exported from 'react-firebase-hooks/auth'.```
please help me here thankyou.

[2022-02-01 10:56] chrisbianca commented on #206
@shikhar13012001 which version of `react-firebase-hooks` do you have installed? You need v5 or above to use this hook.

[2022-02-03 14:26] chrisbianca commented on #206
Closing due to lack of response, please re-open if this is still a problem

[2022-02-03 14:26] #206 closed

[2022-02-03 21:10] BARTlab opened #207 "[firestore]: infinite render"
In version 5, there is an infinite rendering of the component, which uses the hooks of this package. In 10 seconds, the hook manages to make ~ 1500 requests to the firestore. To check - I started a clean project, but the problem is still there.

**App.jsx**
[code]

**package.json**
[code]

![image](https://user-images.githubusercontent.com/889330/152428845-47d9914a-b93a-486b-ae28-ce391db20bbe.png)

[2022-02-04 05:25] SpainTrain commented on #207
I have also experienced this, including the spike in reads due to an open tab.

[2022-02-04 06:34] SpainTrain commented on #207
I tried to track this down, but couldn't quite figure it out.  However, this info from dev tools may hopefully be helpful in tracking down why the hooks are continuously firing.

![image](https://user-images.githubusercontent.com/380032/152482774-f6eabfbb-3345-4d3c-9baa-81ced932d64c.png)
![image](https://user-images.githubusercontent.com/380032/152482892-33451518-419a-4d32-94be-05b407366259.png)
!

[2022-02-04 14:13] faz919 commented on #207
Holy hell dude because of this broken package now you have to pay $100...that's so tough 😭😭😭 I had the same issue and then just migrated my project away from r-f-h and switched to the necessary functions in Firebase v9 modular. If anyone's looking, this is a temporary solution until this package is fixed.

[2022-02-04 14:57] #207 closed

[2022-02-04 15:12] chrisbianca commented on #207
@BARTlab @SpainTrain @faz919

I can only apologise that this has happened, in attempting to fix another bug I overlooked the way that `useEffect` compares entries in the array parameter. I have reverted to the previous behaviour and released version 5.0.2. Could I ask you to give it a try and check that this has now been fixed? I have confirmed locally but would like to be sure.

This behaviour is

[2022-02-04 15:24] SpainTrain commented on #207
$100 wasn’t too bad overall for this particular project, and I was relieved to find out why it happened!

Thanks for fixing, root cause makes sense, will test it tonight!

[2022-02-04 15:58] Schmell opened #208 "Migrating from v4 idField"
i read this at the bottom of your docs

can you provide a simple example of how to implement this at least for the legacy - idField

i have been able to use useCollection and get the id, but i kind of prefer the simpler useCollectionData

[2022-02-04 17:37] chrisbianca commented on #208
@Schmell The Firebase documentation has a nice example of how to create a converter: https://firebase.google.com/docs/reference/js/firestore_.firestoredataconverter#example. The `fromFirestore` method of the converter is passed the `QueryDocumentSnapshot` which has access to the `idField`.

Then simply specify a converter using `withConverter` on the collection and pass that into `useCollectionDat

[2022-02-04 17:37] #208 closed

[2022-02-04 20:29] DanielBailey-web commented on #207
Google is usually pretty good about refunding stuff like this if you just ask. I would recommend citing this issue if you do ask.

[2022-02-04 22:07] BARTlab commented on #207
checked version 5.0.2 on my project - I did not find any problems. thanks for the quick fix

[2022-02-05 00:57] SpainTrain commented on #207
I also found this to be fixed, thanks again!

Great suggestion, I reached out.  I'll be good either way though - I have caused *much* more expensive bugs in my life :rofl:

[2022-02-05 00:58] SpainTrain commented on #207
Also, @chrisbianca I love this library.  On a previous project (a while back) I had to write a similar internal lib, so I have appreciated the huge amount of time this has saved on my current project :-)

[2022-02-05 16:30] Schmell commented on #208
Hey thanks for your reply.
The example is confusing, like do I have to make a class to map to??
anyway I just get lots of Object possibly null errors.
I don't want to waist your time as I am just a noob.  I can just use `useCollection`
Thanks anyway

[2022-02-07 03:34] christiangenco commented on #207
Oof—yup, I was on version 5.0.1 and got a few hundred thousand reads on a project before noticing. `yarn add react-firebase-hooks@latest` upgraded to 5.0.2 which fixed it.

@chrisbianca thank you for the quick fix and this library!

[2022-02-07 13:47] taylorchance opened #209 "useCollectionData return id as well"
It would be helpful to add an option that useCollectionData also returns the doc id as well.

[2022-02-08 01:27] qwyzex commented on #209
Actually it's returning the document id in the previous version (I don't know which version start returning `undefined` id, but I use version 4.0.1 and it's returning the full document id!)

[2022-02-08 08:58] chrisbianca commented on #208
@Schmell I have just added a full example to the documentation here: https://github.com/CSFrequency/react-firebase-hooks/tree/master/firestore#transforming-data. Hopefully this makes it clearer

[2022-02-08 09:00] chrisbianca commented on #209
As of `react-firebase-hooks` v5, the library relies on Firestore's built in [FirestoreDataConverter](https://firebase.google.com/docs/reference/js/firestore_.firestoredataconverter) functionality rather than the bespoke method used previously. This gives access to the underlying doc id and ref fields if required.

I've added an example to the docs here: https://github.com/CSFrequency/react-firebas

[2022-02-08 09:00] #209 closed

[2022-02-08 09:01] chrisbianca commented on #207
@SpainTrain @christiangenco you're very welcome, I'm glad its useful and justified the time I've spent on it!

Sorry again for the slip up here!

[2022-02-10 23:38] 3DJakob opened #211 "Using useCollection on a collection with the users ID"
Hey, great component very useful! I cannot find a nice way to add your hook on a collection identified with the user's ID, however. The problem is that the user's ID is not known until after the first render. How would you write that code?

Example hook
[code]

One solution could be wrapping your whole app in a component that waits for the `auth.currentUser.uid` and then renders the app and passes

[2022-02-10 23:44] DanielBailey-web commented on #211
Although undefined does not work as a value for useCollection; null does. So you can use a tertiary as the input of your hook. I would recommend memoizing this value so that you do not have to worry about any extra renders at a very high level of your app.
[code]

[2022-02-11 00:16] sanny-io opened #212 "Add useHttpsCallableData."
`HttpsCallableResult` wraps the response in a `data` field. I am proposing a new function that directly returns the data contained in the `HttpsCallableResult`, kind of similar to the purpose of `useDocumentData`.

[2022-02-11 10:16] 3DJakob commented on #211
Thank you I'll do it like that 👍

[2022-02-11 16:06] Schmell commented on #208
Hey thanks, I appreciate your input on this.
Yes it was a better example especially for Typescript and v9
works great, I didn't even know about the `docRef ` and that is even cooler
Thanks again

[2022-02-13 16:40] taylorchance commented on #147
Has there been any updates on this? its exactly what I need for an app I'm working on.

[2022-02-18 11:29] vJaun opened #214 "useList for Real-time Databae returns object list?"
Using the example found [here](https://github.com/CSFrequency/react-firebase-hooks/tree/v4.0.2/database#full-example)

[code]
`returns { id: { name: "hello" }, id2: {} ... }` but when I try to` console.log(v.val().name)` it returns undefined? and also I thought response would be an array of objects. My database below:

[code]

[2022-02-19 16:53] NayanPatil1998 commented on #207
Thank you for fixing this bug, and thank god I was on free plan so it didnt cost me penny.

[2022-02-19 16:57] NayanPatil1998 commented on #214
try to console log v.val()['name']
`console.log(v.val()['name'])`

[2022-02-22 22:02] aarku opened #215 "useMemo() with its dependency being a freshly created array will never memoize"
https://github.com/CSFrequency/react-firebase-hooks/blob/ab6214822fdc0c280ea39e001db09bc2bbc5264d/firestore/useCollection.ts#L56-L61

This gets done in multiple places. I think the author thought React did a shallow compare like `React.memo()` does, but it doesn't. If `value`, `loading`, and `error` are stable, they could be the dependency array, and the inner function of `useMemo()` could constru

[2022-02-22 22:04] #215 closed

[2022-02-28 10:20] mparsakia opened #216 "Example Request: useAuthState / onAuthStateChanged listener for context provider (useEffect)"
Hello!

I'm trying to refactor some of my JS firebase code to use this library in a project.

I'm having one problem, and for now am using the standard method for implementing my AuthProvider in the app.

I have a component that wraps <App>, that I use as a context provider for user auth state:

[code]

I would love to refactor this useEffect instead to use the
`const [user, loading, error] = useA

[2022-02-28 19:01] DanielBailey-web commented on #216
@mparsakia the user is already memoized. So you can just do this:
[code]

[2022-03-01 09:08] mparsakia commented on #216
@DanielBailey-web First example worked perfectly and I checked with multiple tabs open, user state is updated across all of them upon login and logout. Can't believe it was that simple, thank you 👍 Completely got rid of the useEffect, as my only use case was to update state when auth changed.

[2022-03-01 09:08] #216 closed

[2022-03-06 13:24] IbraRouisDev commented on #13
Any updates on this feature?

[2022-03-09 14:08] neilor opened #219 "Proposal to contribute with new features and capabilities"
As I mentioned in the issue of pagination #13, I want to start helping the library react-firebase-hooks to add more features and capabilities.

I'm a javascript developer since 2010, I'm working with firebase before of Google acquisition(~2014). I've done a lot of ambitious projects with high-end features using the simplified WebSockets that firebase gives us. Some of them are currently active and

[2022-03-09 14:08] neilor commented on #13
I will start to contribute here with the pagination @chrisbianca. Anyone here knows if already have some progress about that?

I have a lot of experience with firebase realtime database, with complex queries, compound indexes, "rules and typescript synchronization" and pagination. I think that pagination will have similar Params Interface between realtime database and firestore. So, I can start by

[2022-03-11 06:38] metacoding opened #220 "CreateUserWithEmailAndPassword doesn't return error for existing users"
If there is a user with the same email registered, the call will continue and then() method will be called. There is an HTTP error 400 visible in the console log that is not returned as an error (User Exists)

Example code:
[code]

Console log:
![CleanShot 2022-03-11 at 06 34 53](https://user-images.githubusercontent.com/16768266/157815205-f417a37c-2e3d-450b-899f-d62dc4aca5d3.png)

Error returned

[2022-03-12 18:48] IbraRouisDev commented on #220
The promise will fail if email already exists.

[2022-03-24 16:43] ThibaudMZN opened #221 "Dynamic reference depending on user custom claims"
I need to fetch some user data, but the reference string is depending on this user's custom claims, like so :

`/group/{userclaim}/data`

I'm struggling to use the auth and realtime database hooks for this specific use case, because the first useList() is always called while the userClaim is still empty.

Any idea or example would be greatly appreciated

[2022-03-24 22:29] DanielBailey-web commented on #221
Is a template string not working for you?

[code]

[2022-03-25 07:12] chrisbianca commented on #221
As per @DanielBailey-web's reply, use a conditional on the custom claim and pass `null` to the `useList` hook whilst the custom claim is loading. The hook will load as soon as the custom claim becomes available.

[2022-03-25 07:12] #221 closed

[2022-03-25 07:50] ThibaudMZN commented on #221
Thank you !

[2022-03-26 12:11] moshOntong-IT opened #222 "Scope and CustomParameters"
What is scope and customParameters do in SignINWIthxxxx method?

[2022-03-29 15:08] LGR3VE commented on #209
@chrisbianca Thank you for the example in the docs. Do you have an example for JS, besides TS as well? I am struggling as well to include the Id by reading from the snapshot. Thank you so much!

[2022-03-29 18:54] chrisbianca commented on #209
@LGR3VE the example for JS should be identically, you'll just need to drop the type annotations

[2022-03-29 19:11] chrisbianca commented on #222
@moshOntong-IT See the documentation here which describes scopes and custom parameters in the context of Google sign in: https://firebase.google.com/docs/auth/web/google-signin#handle_the_sign-in_flow_with_the_firebase_sdk

[2022-03-29 19:11] #222 closed

[2022-03-29 19:46] glaucoheitor commented on #215
Is this the reason why `useCollection` and `useDocument` calls Firestore on every render?
I'm trying to avoid expensive costs and avoid query the server on every render.

[2022-03-29 19:54] glaucoheitor commented on #187
@idangozlan can you elaborate a little bit about this internal cache layer?

[2022-03-30 05:35] aarku commented on #215
No, I misread the code. This issue should be deleted.

[2022-03-30 20:57] idangozlan commented on #187
I assume that the way Firebase SDK works is that when you trigger a change to the doc, it will not be refecthed from the same instance that triggered the change, so it will not have any kind of an infinite loop.
Again, this is my guess, based on the network traffic and common sense.

[2022-03-31 18:42] masterbater opened #223 "Please add onIdTokenChanged"

[2022-04-04 12:30] isrmicha commented on #36
Any updates?

[2022-04-18 14:28] zaneshaw opened #225 "Unable to use postConverter example for transforming data without TypeScript"
I'm attempting to use the "postConverter" example provided in the the "Transforming data" section of the docs. I'm using Firebase v9 without TypeScript and I'm not sure how to implement the example. The only reason I want to use a the postConverter example is to easily get the id of a doc while still using the "useCollectionData" hook.

Sorry for making an issue, I just need some assistance on thi

[2022-04-19 15:56] AaronBentley opened #226 "useCollection() - How to add an orderBy clause?"
Hello everyone 👋

Unfortunately I'm super tired today, and have that sinking feeling I've missed something trivial.
I'm trying to add an orderBy clause to the `useCollection` hook, the following works without an orderBy clause:

[code]

However, if I add an orderBy clause (using the field 'timestamp') to the `collection` like so:

[code]

... I get the following console error:

[code]

Where am I

[2022-04-20 15:12] lachlanmc opened #227 "Removing item from Realtime database causes all query items to added again at point where item removed"
Hi, I'm probably just missing something obvious here:

If we have a list of widgets using something like

`const [snapshot, loading, error] = useList(vQry);

{snapshot.map((item: { key: any; val: () => any }) => (
            <itemwidget>
              key={item.key}
              message={item.val()}

            ))}
`

and then we remove an item from the realtime database using say:

 `fbdb.remo

[2022-04-22 03:09] lachlanmc commented on #227
OK, so even setting something crazy up like this to test then "snapshot" returns twice the number of items!!!

const [snapshot, loading, error] = useList( NotRunAfterDelete ? vQry : null);

NotRunAfterDelete  is a useState that is set in the function that does the remove to force null to be passed to uselist

why??!?

[2022-04-22 07:00] lachlanmc commented on #227
wasn't missing anything - seems to be an assumption on how something is going to work in the code.

copied the files into my project so I could debug

substituting the following has resolved the issue - if index is somehow < 1 then you seem to end up with state being updated with two copies of the array

`const removeChild = (
  currentState: KeyValueState,
  snapshot: DataSnapshot
): KeyValueStat

[2022-04-22 07:07] lachlanmc commented on #227
Probably a good assumption that all the other slice code in useListReducer will behave in an unpredictable fashion for index < 1

Comments?

[2022-04-24 18:39] renbesson commented on #226
You probably figured it out by now but I'm gonna answer it just to leave registered.

You should wrap the **collection** function inside the **query** function alongside the **orderBy** function.

[code]

[2022-04-25 09:23] AaronBentley commented on #226
Thank you @renbesson 🙌

Appreciate you taking the time to help me out here - have a great day my friend 🥳

[2022-04-25 09:23] #226 closed

[2022-04-28 00:37] Night-Hunter-NF opened #229 "Suggestion for updating user In useAuthState"
I've just been using your package for Auth hooks and noticed that it has no support for update of the current user i.e. when you change email or display name the state isn't updated.

i have gone an written my own simpler way of handling Firebase Auth. but thought since you already have your own hooks for updating email, display name etc it might be worth putting in a callback that runs when ever

[2022-05-01 19:43] adamborowski opened #230 "useMemo is called with always-recreating dependency array"
https://github.com/CSFrequency/react-firebase-hooks/blob/edab3f3f3b5ec01c8aafcc6096755dfcc69e4408/auth/useAuthState.ts#L40

[2022-05-01 19:44] #230 closed

[2022-05-01 19:45] adamborowski commented on #230
sorry, all is good, just I confused myself

[2022-05-02 17:10] railty commented on #225
It doesn't seem to work. cause a dead loop or something, run out of quote quickly.

[2022-05-03 13:11] LouisMarzorati commented on #77
Howdy,

I'm having a similar issue but related to all of the useXonce hooks.
versions in package.json
[code]

Refreshing the page does not fetch anything, but making any change in the code / forcing a hot-reload will then show the data.

[code]

[2022-05-03 21:43] edant92 opened #231 "Firestore useOnce hooks don't fetch unless code change causes hot reload"
I've come across an issue where the useOnce hooks, for example `useCollectionOnce()` never loads any results - the loading property just returns `true` and nothing updates.

[code]

However, if I change some code and the app hot-reloads - then the results are retrieved.
Also, if I use `useCollectionData()` instead, the results are retrieved as expected.

I'm currently using the follow dependencies

[2022-05-04 09:37] marduzca commented on #231
Same thing happening to me at the moment as I was trying to migrate to firebase 9

[2022-05-04 14:33] sac-rana commented on #231
Same problem here.

[2022-05-08 03:28] mdsaifullah365 opened #232 "return hooks as object"
react-firebase-hooks are returned as array. I think it will be more easy to destructure the proper properties or methods if they are returned as object.

[2022-05-08 15:19] Sazid99246 opened #233 "firebase error doesn't work"
I have used 3+ hooks of authentication hooks, but I can't implement showing errors, please check it

[2022-05-08 17:11] farhad2030 opened #234 "can i return email when signin with google"

[2022-05-09 12:30] ThibaudMZN opened #235 "Sorting and Filtering in Realtime Database"
Hi !

Is there a way to use sorting and filtering in Realtime Database Hooks (`useList` for example), functions like `orderByChild()` or `limitToFirst()` ?

Thanks !

[2022-05-11 14:15] rayoverweij commented on #235
Use `query()` like you would in a vanilla call to Firebase, i.e. instead of

```useList(ref(database, 'list'));```

something like

```useList(query(ref(database, 'list'), orderByChild('someChild')));```

[2022-05-12 12:42] stevecastaneda commented on #208
I tried to build a generic converter that added an `id` field to all data coming from firestore based on `snapshot.id`, but what I'm seeing is that it's actually **adding** an `id` parameter to the document when I add new documents as well.

I'm solely trying to get the ID field on the client-side.  Would someone be able to tell me what I'm doing wrong here?

[code]

[2022-05-13 17:39] ghost opened #236 "useAuthState gives null"
When I am trying to get a user with useAuthState, it gives me null. How can i fix this?

[2022-05-15 12:41] HaakonStromsnes commented on #236
Hi, is the user logged in? And do you pass in the firebase auth config as an argument in the useAuthState?

[2022-05-15 16:03] faisalchy64 commented on #236
Yes, user logged in and pass firebase auth perfectly

[2022-05-15 16:18] HaakonStromsnes commented on #236
Then it's hard to say what's wrong without seeing the code. useAuthState works like it should for me. The only issue I have is the error not working

[2022-05-17 19:36] raselmahmud22 opened #237 "google user after logged-in doesn't provide users info it always gives undefined"
<img width="207" alt="error" src="https://user-images.githubusercontent.com/61463085/168896132-b14b3db1-e275-4367-9e24-a72f0f977c40.png">
I have been trying this code when a user wants to log in, but it always gives google users undefined after logging in.

 const [signInWithGoogle, googleUser, googleLoading, googleError] =
    useSignInWithGoogle(auth);

you can try console.log(googleUser).

[2022-05-17 20:18] #237 closed

[2022-05-18 07:52] ThibaudMZN commented on #235
Ah that wasn't so hard !
Thanks, maybe that could be somewhere in the docs :)

[2022-05-18 07:52] #235 closed

[2022-05-18 09:30] penx commented on #181
I created a wrapper that can be used with any async function, including Firebase functions, that mirrors GraphQL's useQuery and useLazyQuery hook. This is what we're using to turn our react-native Firebase queries in to hooks.

Hopefully it's of use to others!

https://github.com/penx/use-async-query

[2022-05-18 12:43] twabi opened #238 "get Error message from Hook Result"
Especially in the auth hooks, it would be superb to get an error message instead of only a boolean value from the signInWithEmailandPassword Hook

[2022-05-18 12:47] #238 closed

[2022-05-19 09:35] a-barbieri opened #239 "Error in documentation of useSignInWithEmailAndPassword"
https://github.com/CSFrequency/react-firebase-hooks/blob/edab3f3f3b5ec01c8aafcc6096755dfcc69e4408/auth/README.md?plain=1#L150

In the docs you use `user.email` but `useSignInWithEmailAndPassword` returns UserCredential type not User.
The correct use should be `user.user.email`. It might be good to rename it then...

[2022-05-19 09:37] a-barbieri opened #240 "Wrong docs for updatePassword"
https://github.com/CSFrequency/react-firebase-hooks/blob/edab3f3f3b5ec01c8aafcc6096755dfcc69e4408/auth/README.md?plain=1#L559

In the docs you suggest to use `email` as a parameter, but it should be `password`.

[2022-05-19 16:44] a-barbieri commented on #239
The same goes for `useCreateUserWithEmailAndPassword`

[2022-05-22 17:45] JuelHossain opened #241 "how to know after sending the reset email to the user"
how will I know that the password reset email has been sent successfully? to the user?

[2022-05-23 01:43] csuriel commented on #225
@squidee100 @railty I was able to use the converter but not exactly the way it is in docs.
You need to return a new class object from `fromFirestore` as follow:

[code]

I hope it works for you guys.

[2022-05-25 07:30] msalahz opened #242 "Why react-firebase-hooks does not include useSignInWithPhoneNumber or UseignInWithEmail"

[2022-05-25 07:30] msalahz opened #243 "Why react-firebase-hooks does not include useSignInWithPhoneNumber or useSignInWithEmail?"
Why react-firebase-hooks does not include useSignInWithPhoneNumber or  useSignInWithEmail?

[2022-05-26 11:16] marduzca commented on #231
@chrisbianca
Hi Chris. Sorry for tagging you, but I didn't know who else to contact regarding this.
I think this is related to new features in React 18. Could this be taken a look at? Probably just migrating the repo to React 18 helps already

[2022-05-27 13:58] vlafranca opened #244 "Typescript support"
Hi,
It seems there is no @types library provided for typescript support, is it possible to add it ?

Thanks in advance

[2022-05-31 21:50] NathanC opened #245 "Sometimes duplicate keys appear in useList after database insertion"
I've noticed this issue intermittently:

When a new record is added to the realtime database, it shows up **multiple times** in the list when using `useList`. When I refresh the page, it will go back to only being shown once. This has happened for multiple different views of useList (a data table, a custom component, etc), and I'm confident it's caused by a single key appearing multiple times in t

[2022-06-10 13:37] rayoverweij commented on #245
I see the same, and also with `useListVals`.

[2022-06-10 14:39] Kibadango13 commented on #13
Hello !!!!!!!   :). i made my proper hook

Componente

 const queryFn = useCallback(() => {
    const q = query(
      collection(fireStore, "admin_news"),
      limit(4),
      orderBy("categoryValue")
    );
    return q;
  }, []);

  const { more, isLoading, data } = usePaginateQuery(queryFn);

---------------------------------------------------------------------------

Create  hook

import { u

[2022-06-12 02:18] NathanC opened #247 "Questions about performance (bandwidth usage)"
I want to make sure I'm not using more bandwidth than I intend

If I have different components that are each using `useList` for firebase database, with
* the same location (/foo/bar)
* but different refs or a different query

Will firebase fetch the data twice, or does the backend websocket logic prevent loading the same queries/fetching the same data at once?

Thanks in advance!

[2022-06-15 16:22] armynante opened #248 "useAuthState being called multiple times on render"
I'm using the useAuthState hook and I'm seeing there are multiple calls each time the page is loaded.

Is this expected behavior? I'm new to nextJS/React and not sure if the useEffect hook is being triggered due to a bug in my code or unexpected behavior from the authState hook.

I expected the useEffect hook to be only triggered when the `authUser` object changes. Is it just calling back to the f

[2022-06-18 16:49] Yey007 opened #250 "Compatibility With firebase/compat"
Hello!

First of all, thank you for this library. It has been extremely helpful in developing with Firebase.

I have recently run into a problem while upgrading to v5 that uses the version 9 modular SDK. Firebase promises that [version 8 code and version 9 code should be interoperable](https://firebase.google.com/docs/web/modular-upgrade#example_3_combining_version_8_and_version_9_code_styles), ev

[2022-06-22 15:50] Yey007 commented on #250
Update: I was able to refactor quickly, so this isn't an urgent problem. However, I'm still willing to work on this for those with larger codebases.

[2022-06-28 08:53] grubersjoe opened #251 "createUserWithEmailAndPassword does not return user credentials after creation"
Hey. Very nice project, thanks for maintaining this!

I'm using the `createUserWithEmailAndPassword()` hook, but I've noticed that it does not return the user credentials like in this [Firebase example](https://github.com/firebase/snippets-web/blob/01d37b7b0a42e5304d172543b986282d0d61d214/snippets/auth-next/email/auth_signup_password.js#L8-L21). I think this is really useful when you want to immed

[2022-06-29 05:05] dangreaves commented on #225
Be careful about referential equality when using converters @railty.

I ran into a similar issue with an endless loop of queries. It's because this package is checking if `query` is referentially equal when doing a query. The idea is that if you change `query`, then it should do another query with your new input.

When creating a converter inside a React component, you will get a new object create

[2022-07-01 07:16] BinDohry opened #252 "useDocumentData returns undefined on first render until forced browser refresh returns data"
[code]
businessData returns undefined. I have to manually force refresh the browser for businessData to return the correct value from Firestore.

[2022-07-02 02:15] pythonicode commented on #252
Same issue here. not sure why this is happening.

[2022-07-03 22:38] pythonicode commented on #231
I'm having this same issue and it's pretty breaking. I'll see if I can figure out a solution.

[2022-07-04 11:58] ByKyZo commented on #245
I have the same problem, do you have any news?

[2022-07-06 09:46] rayoverweij commented on #245
Hi - from my experience so far, it only seems to happen in development environments, not in production.

I haven't had time to look at this repo's source code yet, but as the bug appeared after upgrading to React 18 (I think), my guess it that it has something to do with React running effects twice in development mode now, and that interfering with how RFH works.

It hasn't been a breaking issue f

[2022-07-12 08:33] Yey007 commented on #252
I'm facing a very similar issue with useDocumentDataOnce. It won't load, always returning undefined and true for the loading value until I make a change in the code and the module reloads. Very bizarre.

[2022-07-12 08:47] Yey007 commented on #252
I'm glad you fixed your issue. Here is my minimal reproducible example. The document is stuck in the loading state forever.

[code]
"loading" is logged, and then nothing. Perpetual loading. The id is a valid id and the reference exists. I know because everything loads fine after I reload the module by making a change. Even more bizarre is the fact that we don't face this issue in the live producti

[2022-07-12 13:58] Yey007 commented on #252
@BinDohry It's the same deal, unfortunately.

[2022-07-13 14:27] testx1011 commented on #231
A quick fix is by adding a function called.
`const [values, loading, error, snapshot, refetch] =
  useCollectionDataOnce < T > (query, options);`

and now it will only be necessary to call that function in some part of the code, for example, in a useEffect.
`  useEffect(() => {
    refetch();
  }, [refetch]);`

before that was the documentation, I don't know why they changed it...

[2022-07-14 11:01] luismartinezs opened #255 "onUserChanged always triggered"
I'm not sure I understand when this function is supposed to trigger, but a simple route navigation out and in the same page will run this function, even if the user didn't change.

For example:

[code]

So I had to store the user as a variable and compare it with the new one, like so:

[code]

Am I simply misunderstanding how `onUserChanged` is supposed to work?

[2022-07-14 16:02] Samuele1818 opened #256 "useCollectionOnce | useDocumentOnce infinite loading"
I'm using these hooks to load data from firestore, and everything is working properly when I use `useDocument` or `useCollection`, but when I try to replace these methods with `useDocumentOnce` or `useCollectionOnce` I got an infinite loading.

useCollectionOnce:

[code]

useCollection:

[code]

**NOTE If a hot reload is triggered, useCollectionOnce loads the data.**

[2022-07-14 18:09] n9iels commented on #256
I had the same issue, turns out that removing `<StrictMode>` was the solution. Maybe it is related to the fact that effects are executed twice if `<StrictMode>` is enabled.

[2022-07-14 20:42] #256 closed

[2022-07-15 09:13] marduzca commented on #256
@n9iels
I saw that behaviour as well, but would it be smart to remove the <Strictmode> ? It is there to help us with React errors, so it would probably better to fix the problem at its root

[2022-07-15 09:14] marduzca commented on #252
@BinDohry
Interesting, that I didn't expect. Not sure what the problem is then

[2022-08-04 01:25] joshuahhh opened #258 "util/index.ts build error due to "built-in module""
Hello! When I check out this repo (at edab3f3) and run `yarn`, it installs dependencies and then starts a build.

The build fails at this point:

[code]

I'm not well-versed in rollup, but changing `rollup.config.js` to read (in part)
[code]
seems to fix this.

Does anyone know why might the build might be failing in my environment? Would adding `preferBuiltins: false` be a useful change in genera

[2022-08-06 07:47] Garee commented on #252
I am also encountering this issue using React v18. I've switched from `useDocumentDataOnce` to `useDocumentData` as a temporary workaround.

[2022-08-14 19:30] samos123 commented on #233
I'm having the same issue. Seems error returns an array of error objects but the examples with firebase v9 make it sound like error is undefined or a string.

[2022-08-23 15:06] Yey007 commented on #252
@Garee Yeah, that's the workaround I found as well. I'm not exactly sure why this is happening, but I unfortunately don't have the time to investigate. I wish I could.

[2022-08-24 15:38] elia-orsini opened #259 "TypeError: Cannot read properties of null (reading 'useReducer')"
I'm using React with Remix for my app. The following code:
[code]
gives the following error:
[code]

I am not really sure if I am doing something wrong when using that hook `useAuthState(auth)`

[2022-08-27 13:43] #259 closed

[2022-08-28 17:19] hussamkhatib opened #260 "add enabled flag for firestore"
fetch only if enabled is true,

Coinsider the example
[code]

adding  a optional flag to fetch only when useruid is defined
[code]

If required, I am willing  to contribute

[2022-08-31 06:47] akapelon commented on #244
The library is written in Typescript.
Perhaps you are doing something wrong importing it?
@Types should not be needed.

[2022-09-04 02:13] achuinard commented on #245
Seeing it myself with NextJS app. Kind of concerning, makes me think the hooks don't clean themselves properly when unmounting.

[2022-09-04 13:14] jasan-s opened #261 "sendSignInLinkToEmail missing from auth hooks"

[2022-09-08 14:41] skreutzberger commented on #259
Did you solve the issue? I am asking because I have the same.

[2022-09-08 15:09] elia-orsini commented on #259
hey @skreutzberger, I think the problem I was having was due to the fact that I was using Remix and that code is not meant to be run on the server. If you are using remix you can run something only on the client side in this way: https://remix.run/docs/en/v1/guides/constraints#document-guard

[2022-09-09 21:41] lewisd1996 commented on #252
Currently suffering the same problem

[2022-09-09 22:23] lewisd1996 commented on #252
I have now fixed this. I had to delete `node_modules` as well as my `.next` folder and reinstall

[2022-09-10 02:27] coopy commented on #245
I'm seeing this with `useListVals` in a multiplayer game. When another client adds a player object to a list, the first client sees 5 copies of that player object. Debugging `useList`, these instances are kept in internal state. This is in developer mode.

[2022-09-12 06:41] jamesdarabi commented on #252
I'm also having the same issue. As mentioned above, using `useDocumentData` works as a temporary workaround.

Here are my relevant dependencies:

[code]

[2022-09-14 01:47] jasan-s opened #262 "Next.js with reactStrictMode the useDocumentOnce snapshot is never retrived"
with `reactStrictMode=true` in the `next.config.js` during development the useDocumentOnce never retrieves the snapshot data with  `useDocumentOnce` , the `loading` remains true

If i set `reactStrictMode=false`  useDocumentOnce retrieves the data correctly.

my currect hack is the following:

[code]

[2022-09-14 12:49] kaueDM commented on #260
#110

[2022-09-15 15:18] gBusato commented on #262
Hello guys ! I also had the same issue !

[2022-09-17 02:33] Yey007 commented on #252
@lewisd1996 in the same situation. Unfortunately reinstalling did not work for me. Tried deleting the lock file and node modules to no avail.

[2022-09-18 16:10] OGreeni opened #265 "useAuthState throws error"
I'm getting TypeError: Cannot read properties of null (reading 'useReducer') when passing in the `auth` object to `useAuthState`. Not sure what went wrong.

[2022-09-20 16:54] rpelissier opened #266 "Feature proposal : enable query to be a Promise<Query> in `database/useObject` and similar hooks"
I have a use case that make the use of `useObject` quite painful.
It happens that the path of the `Query` is depending on another request to the Database.
As conditional Hooks are forbidden I have to create every time another layer of Component to do the first query before I can use the secundary Component with your hook.
It would be great if `query` can optionaly be a `Promise<Query>`.

Example c

[2022-09-22 20:46] opture commented on #245
+1

[2022-09-23 13:47] jdgamble555 commented on #252
It is returning `undefined` here

https://github.com/CSFrequency/react-firebase-hooks/blob/master/firestore/useDocument.ts#L98

and same thing with collections

https://github.com/CSFrequency/react-firebase-hooks/blob/master/firestore/useCollection.ts#L80

Someone needs to debug this perhaps and submit a pull request.

J

[2022-10-03 20:24] fastsyrup commented on #245
+1

[2022-10-03 20:32] fastsyrup commented on #245
even worse, I get triggered twice for some of the keys, first with the old v.val() and then with the old value. So I have to manually ignore the second trigger...

[2022-10-15 08:01] GoldenSoju commented on #245
I got the same problem with useListVal in dev mode (firebase emulator).
It happens after inserting entries into, or removing entries from the db.
Programmatically as well as in the emulator UI view.

[2022-10-19 17:09] jaytavares opened #272 "Resolving infinite loop while using withConverter"
I'm trying to use the useDocumentData hook with a firestore data converter but am having trouble with infinite loops. Discussion in #158 suggested that I would have to declare the converter outside of the React component; however, I can't do that since the document path is dependent on app state that is only available from within the component.

Existing code (Causes infinite loop):

[code]

Sugge

[2022-11-04 06:05] bobturla commented on #245
+1 when using useListVals

[2022-11-04 16:40] chrisbianca commented on #148
Closing as the linked stackoverflow answers this question

[2022-11-04 16:40] #148 closed

[2022-11-04 16:42] chrisbianca commented on #214
Closing due to inactivity. Feel free to reopen if this is still an issue

[2022-11-04 16:42] #214 closed

[2022-11-04 16:44] chrisbianca commented on #225
Closing as this appears to have been answered. Please re-open if it is still an issue

[2022-11-04 16:44] #225 closed

[2022-11-04 16:46] chrisbianca commented on #229
Thanks @Night-Hunter-NF, this has been requested previously but I've not had a chance to tackle it yet: https://github.com/CSFrequency/react-firebase-hooks/issues/147

I'm going to close this in favour of that issue.

[2022-11-04 16:46] #229 closed

[2022-11-04 16:51] chrisbianca commented on #232
@mdsaifullah365 v1 of react-firebase-hooks did use objects, but they were dropped in favour of arrays to aid composability. With objects, it became a pain when using multiple of the same hooks as you would need to rename the object variables,

e.g
[code]
is much simpler than:
[code]

Admittedly, there were fewer response variables, but I'm still in preference of the array structure for now.

[2022-11-04 16:51] #232 closed

[2022-11-04 16:52] chrisbianca commented on #233
@Sazid99246 @samos123 I am going to close for now, but please feel free to reopen with an example where the errors aren't working.

[2022-11-04 16:52] #233 closed

[2022-11-04 16:53] chrisbianca commented on #234
@farhad2030 This seems like a question for stack overflow

[2022-11-04 16:53] #234 closed

[2022-11-04 16:53] chrisbianca commented on #236
@ghost please feel free to reopen with a code example where this isn't working

[2022-11-04 16:53] #236 closed

[2022-11-04 16:56] #239 closed

[2022-11-04 16:56] chrisbianca commented on #239
Thanks @a-barbieri, I have updated the documentation

[2022-11-04 16:57] chrisbianca commented on #240
This has been resolved

[2022-11-04 16:57] #240 closed

[2022-11-04 16:59] chrisbianca commented on #241
As per the example: https://github.com/CSFrequency/react-firebase-hooks/blob/master/auth/README.md#full-example-14, simply `await` the `sendPasswordReset` function, and once it returns then the email will have been sent to the user

[2022-11-04 16:59] #241 closed

[2022-11-04 16:59] #242 closed

[2022-11-04 17:00] chrisbianca commented on #243
`useSignInWithPhoneNumber` is rather complex to implement.
`useSignInWithEmail` is already supported here: https://github.com/CSFrequency/react-firebase-hooks/blob/master/auth/README.md#usesigninwithemailandpassword

[2022-11-04 17:00] #243 closed

[2022-11-04 17:01] #244 closed

[2022-11-04 17:03] chrisbianca commented on #247
@NathanC Apologies for the delay. Behind the scenes the hooks library uses the underlying Firebase library so will behave as per the documentation for Firebase. This is probably a better question to ask on the Firebase forums as I don't want to give you misinformation.

[2022-11-04 17:03] #247 closed

[2022-11-04 17:10] chrisbianca commented on #250
@Yey007 It's very hard to do this without duplicating the code base and creating a compat version of the hooks. Given the time constraints I have with regards to time on the project, it's not something that I plan on doing, particularly as I'd imagine the window for this to be useful is probably now past. I am very happy to review contributions though!

[2022-11-04 17:10] #250 closed

[2022-11-04 17:11] chrisbianca commented on #251
@grubersjoe Apologies for the delay. This seems like a sensible idea to me and would welcome a PR!

[2022-11-04 17:15] chrisbianca commented on #255
@luismartinezs Apologies for the delayed response. `useAuthState` will run every time that a component is mounted, so it is correctly running when you navigate away and back to the page.

Typically you would use `useAuthState` at the root of your application rather than within a particular route to ensure that it is only ever run once.

[2022-11-04 17:15] #255 closed

[2022-11-04 17:17] chrisbianca commented on #260
@hussamkhatib As per #110, the approach used by this library is to support the passing of null / undefined to the hook to prevent loading

[2022-11-04 17:17] #260 closed

[2022-11-04 17:19] chrisbianca commented on #265
@OGreeni Please feel free to reopen this issue with a code example

[2022-11-04 17:19] #265 closed

[2022-11-04 17:24] chrisbianca commented on #272
Your issue is that `convertTo<QuickBooksIntegrationDocument>()` creates a new instance of the converter each time. Rather than pulling out the whole `doc` construction, you can simply pull the converter creation out to a variable as so:

[code]

[2022-11-04 17:24] #272 closed

[2022-11-05 11:53] mdsaifullah365 commented on #232
Now, It makes sense to me. Thanks for reviewing the issue.

[2022-11-07 08:59] PatrikTheDev commented on #245
Also happens here when using useListVals

[2022-11-07 12:54] #223 closed

[2022-11-07 12:56] chrisbianca commented on #212
@sanny-io Apologies for the delay on this one. Unlike with Firestore and the realtime database where a function needs to be called to extract the data, functions simply have a `data` field as you say, which makes it much easier to do this in the user's code. I'm inclined to leave this rather than add additional complexity into the library.

[2022-11-07 12:56] #212 closed

[2022-11-07 12:58] chrisbianca commented on #204
@Zanchee Having reviewed this one in a bit more detail, the real-time database hooks don't have the equivalent `xxxOnce` hooks so it's not really possible to add a `reload` method.

Given the lack of requests for `xxxOnce` style hook in the real-time database, I'm not going to add this at the moment. If that changes, then I will do with the reload functionality.

[2022-11-07 12:58] #204 closed

[2022-11-07 13:04] grubersjoe commented on #251
Hey. Thank's for adding this. Highly appreciated :)!

[2022-11-07 16:01] #261 closed

[2022-11-07 20:49] jaytavares commented on #272
👏 Perfect. Thanks!

[2022-11-07 20:50] jaytavares commented on #272
@chrisbianca 👏 Perfect. Thanks!

[2022-11-07 21:34] rubenLindstrom opened #276 "useSignOut does not exist?"
I'm running version `5.0.3`, and I'm getting the error that `Module '"react-firebase-hooks/auth"' has no exported member 'useSignOut'`.

[2022-11-09 10:45] chrisbianca commented on #276
@rubenLindstrom This hook has been added in version `5.1.0` which has just been released

[2022-11-09 10:45] #276 closed

[2022-11-09 10:48] chrisbianca commented on #220
@metacoding this was an oversight due to the way that the hooks catch errors.

As of `v5.1.0` which has just been released, `createUserWithEmailAndPassword` will return an `auth.UserCredential` if successful or `undefined` if not. You'll want to check this before calling `sendEmailVerification`.

[2022-11-09 10:48] #220 closed

[2022-11-09 10:49] chrisbianca commented on #248
@armynante I've just checked with `v5.1.0` (which has just been released) and I can no longer reproduce this error. There were some changes included in this release that may have accounted for the additional renders.

I'm going to close, but please feel free to reopen if you are still seeing this problem.

[2022-11-09 10:49] #248 closed

[2022-11-09 12:43] rubenLindstrom commented on #276
Thanks!

[2022-11-09 16:55] chrisbianca commented on #231
Hi everybody, apologies for the delay in investigating this properly. I've just given this a try and it appears that some of the changes I've made in the newly released v5.1.0 may have inadvertently resolved this issue.

Could I ask you to try v5.1.0 and check whether this has been fixed?

[2022-11-09 16:55] chrisbianca commented on #252
Hi everybody, apologies for the delay in investigating this properly. I've just given this a try and it appears that some of the changes I've made in the newly released v5.1.0 may have inadvertently resolved this issue.

Could I ask you to try v5.1.0 and check whether this has been fixed?

[2022-11-09 16:55] chrisbianca commented on #262
Hi everybody, apologies for the delay in investigating this properly. I've just given this a try and it appears that some of the changes I've made in the newly released v5.1.0 may have inadvertently resolved this issue.

Could I ask you to try v5.1.0 and check whether this has been fixed?

[2022-11-09 16:57] chrisbianca commented on #77
I'm closing this in favour of #231 and #252

[2022-11-09 16:57] #77 closed

[2022-11-10 06:40] pythonicode commented on #252
Tested again and it seems to work fine. Thanks for the update!

[2022-11-10 16:22] chrisbianca commented on #252
Thanks @pythonicode, I will close this issue, but if anybody else is still struggling, please let me know and I can look into it further!

[2022-11-10 16:22] #252 closed, assigned to nobody

[2022-11-10 16:23] chrisbianca commented on #262
I am closing this issue as it has been confirmed working in #252, but if anybody else is still struggling, please let me know and I can look into it further!

[2022-11-10 16:23] #262 closed

[2022-11-10 16:23] chrisbianca commented on #231
I am closing this issue as it has been confirmed working in #252, but if anybody else is still struggling, please let me know and I can look into it further!

[2022-11-10 16:23] #231 closed

[2022-11-12 14:49] page403 commented on #255
yeah..im so confuse. in my case im having sidebar that i hide/move to leftside (still 1 screen component), when i pull and cancel open the sidebar, the data always retrigger and reloading. and when im try just change useState hook also reloading..even nothing todo with firebase.

but when i try to change value on firebase web console, my app can receive the value without reload element at all.

an

[2022-11-14 13:00] vm02 opened #278 "useIdToken not found in 'react-firebase-hooks/auth'"
I get the error message "Module '"react-firebase-hooks/auth"' has no exported member 'useIdToken'.".
It should be included in version 5.1.0 of the package. I'm already on this version.
I think it is missing in the "index.d.ts" file under the "react-firebase-hooks/auth/dist/auth/" path.

Edit:
I saw there is already a PR opened: https://github.com/CSFrequency/react-firebase-hooks/pull/277

[2022-11-14 13:52] uttamsaha opened #279 "Logout on Reload."
I get logout when I reload the website. What's the solution?

[2022-11-14 13:53] #279 closed

[2022-11-14 13:57] AR-Shahin commented on #279
"useAuthState loading to solve this problem" const [user, loading, error] = useAuthState(auth, options);

[2022-11-14 13:58] AR-Shahin commented on #279
"useAuthState loading to solve this problem" const [user, loading, error] = useAuthState(auth, options);

[2022-11-14 13:59] uttamsaha commented on #279
Thank you. I forgot about that suddenly I got remembered.

[2022-11-15 08:48] chrisbianca commented on #278
The PR has now been merged and v5.1.1 has been published with the fix. Sorry for the oversight on my part.

[2022-11-15 08:48] #278 closed

[2022-11-16 14:07] Rohitbels opened #280 "Enable support for query count"
Count documents with aggregation queries
is now supported https://firebase.google.com/docs/firestore/query-data/aggregation-queries.

can we add support for the same,

useCollectionCount?????

I can work on this

[2022-11-16 14:12] chrisbianca commented on #280
@Rohitbels by all means, if you'd like to work on this then please feel free to submit a PR

[2022-11-20 08:27] Rohitbels commented on #280
@chrisbianca I have made the changes but not sure how to test.

I  tried using `yarn link` for local testing but got some errors.

How do you dev test?

[2022-11-29 06:21] psdewar commented on #221
@chrisbianca How would this work using state? I'm getting a race condition applying this solution to `useObject`. For example:

[code]
[code]
Is there an alternative approach?

[2022-11-29 11:43] paulhmurray commented on #259
hey, is there any chance either one, could share a little more detail on how you resolved this. I'm running nextjs and cannot get passed this issue. Weirdly, I was on 13.0.3 and upgraded to 0.5, that resolved the issue for a moment, but reverted, and of course, i'm not sure what i did in that time to cause it to regress. Any pointers would be greatly appreciated.